html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input,
select {
  vertical-align: middle;
}
/*custom Audi fonts*/
@font-face {
  font-family: 'AudiType-ExtendedBold';
  src: url("fonts/AudiType-ExtendedBold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/AudiType-ExtendedBold.eot?#iefix") format("embedded-opentype"), url("fonts/AudiType-ExtendedBold.woff") format("woff"), url("fonts/AudiType-ExtendedBold.ttf") format("truetype"), url("fonts/AudiType-ExtendedBold.svg?svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'AudiType-Normal';
  src: url("fonts/AudiType-Normal.eot");
  /* IE9 Compat Modes */
  src: url("fonts/AudiType-Normal.eot?#iefix") format("embedded-opentype"), url("fonts/AudiType-Normal.woff") format("woff"), url("fonts/AudiType-Normal.ttf") format("truetype"), url("fonts/AudiType-Normal.svg?svgFontName") format("svg");
  /* Legacy iOS */
}
html {
  margin: 0;
  font-family: 'AudiType-Normal';
}
body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'AudiType-Normal';
}
* {
  font-family: 'AudiType-Normal';
}
/*body:after {
  content: url('images/icon.jpg') none;
  }*/
img {
  max-width: 100%;
  vertical-align: middle;
}
.site-logo {
  /*margin: 10px auto;*/
  padding: 15px 0;
  text-align: right;
}
.site-logo img {
  max-width: 60%;
}
.hero {
  width: 100%;
  margin: 0 auto 50px;
}
.hero img {
  max-width: 100%;
  width: 100%;
}
/*header image background for various campaigns*/
.audismart-service {
  background-image: url("images/AudiSmart-1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi-a4-a5-campaign-2018 {
  background-image: url("images/a4-a5-campaign-hpb-2018.jpg");
  /*('http://dealerhub.audi.co.za/wp-content/uploads/2018/07/a4-a5-campaign-hpb-2018.jpg')*/
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi-freeway-plan-extension {
  background-image: url("images/header-freeway.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.capped-service-campaign {
  background-image: url("http://dealerhub.audi.co.za/wp-content/uploads/2017/11/Service-Capped-Campaign-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi_tt_campaign {
  background-image: url("images/header-tt.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi-a6-campaign {
  background-image: url("images/a6-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.q2-retail-offer {
  background-image: url("images/q2-header.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.a1-pi {
  background-image: url("images/a1-pi.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.q3-pi {
  background-image: url("images/q3-2015.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi_q7_campaign {
  background-image: url("images/q7-headr-image.gif");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-service-campaign {
  background-image: url("images/audi-service-campaign.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi_a1 {
  background-image: url("images/a1-pi.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi_end_of_season_sale {
  background-image: url("images/end-of-sale.jpg");
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  background-position: center 70%;
}
.audi_a4_sport_edition_plus {
  background-image: url("images/audi-s4-sport-edition-plus.jpg");
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  background-position: center 70%;
}
.audi_a4_campaign {
  background-image: url("images/all-new-a4_campaign.jpg");
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  background-position: center 70%;
}
.q1_2016_update {
  background-image: url("images/r8.jpg");
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  background-position: center 70%;
}
.audi_sport_campaign {
  background-image: url("images/Combined-Sport-Dealer-Hub-HPB_Range.jpg");
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  background-position: center 70%;
}
.csi-elements {
  background-image: url("images/CSI-CEE-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi_retail_campaign_august_2016 {
  background-image: url("images/audi_retail_campaign_august_2016.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.wayde-van-niekerk-av {
  background-image: url("images/wayde-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi_a3_pi_launch {
  background-image: url("images/audi-a3-pi-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-pre-owned-retail-campaign {
  background-image: url("../../uploads/2016/10/retail-campaign-dealer-suite/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.holiday-check-festive-campaign {
  background-image: url("images/holiday-check-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-q2-launch-campaign {
  background-image: url("images/audi-q2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.cricket-incentive {
  background-image: url("images/aga-cricket.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.all-new-audi-a5-launch-campaign {
  background-image: url("images/audi-a5-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.all-new-audi-q5-launch-campaign {
  background-image: url("images/audi-q5-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-winter-campaign {
  background-image: url("images/aga-winter-campaign.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.new-audi-dealer-ci {
  background-image: url("images/audi-ci-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.all-new-r8-spyder {
  background-image: url("images/r8-spyder.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.business-process-alignment {
  background-image: url("images/business-process-alignment.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-a5-retail-campaign {
  background-image: url("images/a5-retail-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-genuine-accessories-q5 {
  background-image: url("images/audi-q5-genuine-accessories.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.naming-designation-campaign {
  background-image: url("images/Dealer-Hub-HPB_1920x600_5NOV.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.long-weekend-campaign-2019 {
  background-image: url("images/Long-Weekend_HPB-Dealer-Hub_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q8-launch-teaser-elements-2019 {
  background-image: url("images/HPB_Q8_still.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-black-edition-retail-campaign {
  background-image: url("images/Audi-Black-Edition-Dealer-Hub-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q8-launch-campaign {
  background-image: url("images/Q8_Dealer-Hub-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-campaign-2019 {
  background-image: url("images/ddd.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.holiday-check-campaign_nov_2019 {
  background-image: url("images/Nov_Dec_Holiday-Check_HPB-Dealer-Hub_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-long-weekend-campaign-nov-dec-2019 {
  background-image: url("images/Long-Weekend_HPB-Dealer-Hub_Nov-Dec_2019.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q-range-retail-campaign-2020 {
  background-image: url("images/Q-Campaign-HPB-1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.covid19-dealer-content-2020 {
  background-image: url("images/covid19-dealer-content2-2020.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-forward-together-retail-campaign-2020 {
  background-image: url("images/Dealer-Hub-HPB_1920x735_11June.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-product-videos {
  background-image: url("images/audi-a6-videos.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audismart-service-2020-audi_after_sales {
  background-image: url("images/dealerhub-banner-29june.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a4-pre-launch-campaign {
  background-image: url("images/A4-Pre-Dealer-Hub-HPB_1920x735_1Sep.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.progressive-finance-retail-campaign {
  background-image: url("images/Dealer-Hub-HPB_1920x735_Revised.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.future-is-an-attitude-a4 {
  background-image: url("images/FIAA-A4_Hub-HPB_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-getaway-campaign-agp-quality-check-campaign-2020 {
  background-image: url("images/quality-check-hpb.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.pre-owned-campaign-forever-audi {
  background-image: url("images/PreOwned_Dealer-Hub-HPB_1920x735_4.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.drive-for-tomorrow-retail-campaign {
  background-image: url("images/new-hpb-for-dealer-hub-page.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-campaign {
  background-image: url("images/AGA_Dealer-Hub-HPB_1920x735_11FEB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.performance-is-an-attitude-2021-rs-launch-campaign {
  background-image: url("images/New-R8-Dealer-Hub-image-1920x735.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.quality-check-2021-quarter-1 {
  background-image: url("images/check-quality-hpb.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-brand-campaign-2021-quarter-1 {
  background-image: url("images/AGA-Dealer-Hub-1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-quarter-2-2021 {
  background-image: url("images/new-AGA-Dealer-Hub-1920x735.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-imagery-audi_after_sales {
  background-image: url("images/aga-imagery-header-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a3-sportback-sedan-launch-2021-audi_marketing_and_communications {
  background-image: url("images/dealer-site-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-campaign-2021 {
  background-image: url("images/45400_Dealerhub_AFP_1920 x 735_V4.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q5-pi-q5-sportback-launch {
  background-image: url("images/q5-pi-q5-campaign-launch-image.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.pre-owned-q4-launch {
  background-image: url("images/HPB_DealerHub_Q4.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-q4-campaign {
  background-image: url("images/DealerHub_1920x735-new.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
/*Post Styling*/
.audi-sport > .col-md-4 {
  text-align: center;
  border: 1px solid #efefef;
  padding: 15px 0;
  margin: 0;
}
.audi-lifestyle-templates {
  background-image: url("images/AOZ_Q3_P_141002.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.audi-lifestyle-templates-2 {
  text-align: center;
  border: 1px solid #efefef;
  padding: 15px 0;
  margin: 0;
}
.all-new-r8-spyder-launch {
  background-image: url("images/r8-spyder.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-genuine-accessories-brochure {
  background-image: url("images/aga.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-a3_a4-retail-offer {
  background-image: url("images/A3 A4 Dealer hub hpb.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-a4-executive-package {
  background-image: url("images/a4-dealer-lifecycle-hpb-dealer-hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.demo-sale {
  background-image: url("images/a3-dealer-hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.s4-retail-campaign {
  background-image: url("images/audi_s4_hpb_dealer_hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-a3-a4-november-december-retails-offer {
  background-image: url("images/a3_dealer_hub_hPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-sport-range {
  background-image: url("images/audi_sport_league_hpb_V2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.the-summer-of-audi-sale-q-models {
  background-image: url("images/SOAS_Dealer_Hub_HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a1-and-a4-package-2017-campaign {
  background-image: url("images/Audi-A1-&-A4-Package_HPB-1920x735_28NOV.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-rs-3-sedan {
  background-image: url("images/Audi-RS-3-Sedan-HPB-1920-x-735_30NOV_Dealer Hub HPB.JPG");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-tt-rs-coupe {
  background-image: url("images/Audi-TTRS-Coupe-HPB-1920-x-735_29NOV.JPG");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-group-parts-brochure {
  background-image: url("images/Audi-AGP-Digital-Brochure_Dealer-Hub-HPB_option-3.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-holiday-campaign {
  background-image: url("images/AGA-Holiday-Dealer-Hub-HPB_Revised.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-rs-5-coupe {
  background-image: url("images/RS5 Coupe Dealer Hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-rs-3-sportback {
  background-image: url("images/Audi-RS-3-Sportback-DealerHub_HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-easter-campaign {
  background-image: url("images/5541-AGA-Easter_HPB-Dealer-Hub.JPG");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.entry-lights {
  background-image: url("images/2018-Entry-Lights_HPB-Dealer-Hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q5-car-of-the-year {
  background-image: url("images/2018-q5-Dealer-Hub-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-a1-urban-sport-edition {
  background-image: url("images/A1-HPB_Revised.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-long-weekend-audi_after_sales {
  background-image: url("images/AGA-Long-Weekend_HPB-Dealer-Hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-q7-executive-edition-package {
  background-image: url("images/Q7Lifecycle Dealer Hub HPB.JPG");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-q-model-campaign-2018 {
  background-image: url("images/Q-Range Dealer Hub HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-communication {
  background-image: url("images/Audi-AGA-Communication-Campaign_HPB-min.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.entry-lights {
  background-image: url("images/2018-Entry-Lights_HPB-Dealer-Hub.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-winter-family-campaign {
  background-image: url("images/Winter-Family-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-extension-2018 {
  background-image: url("images/HPB-AFP-20-July.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-entry-lights {
  background-image: url("images/3838-Entry-Lights_HPB-Dealer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.festival-of-motoring-2018-tvc {
  background-image: url("images/FOM HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-adventure-campaign {
  background-image: url("images/AGA Adventure HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.universal-traffic-recorder {
  background-image: url("images/7508-Aftersales-UTR-HPB_1400x438_option2 AGA ON RIGHT.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.holiday-check-campaign-2019 {
  background-image: url("images/Holiday-Check_HPB-Dealer-Hub_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.rs-4-avant-campaign-2019 {
  background-image: url("images/Dealer-Hub_rs4_avant.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.rs-5-sportback-campaign-2019 {
  background-image: url("images/Dealer-Hub_rs5_sportback.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q7-retail-campaign-2019 {
  background-image: url("images/Q7_Dealer-Hub-HPB_1920x735_Final.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a1-q3-launch-campaign-2019 {
  background-image: url("images/Dealer-Hub-HPB-1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-tt-pi-campaign-2019 {
  background-image: url("images/Dealer-Hub-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a4-sedan-a3-sedan-retail-campaign {
  background-image: url("images/A4_A3Sedan_2019.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a7-sportback-launch-campaign-2019 {
  background-image: url("images/A7_20_Dec_Dealer-Hub-HPB_1920x735_revised.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a6-launch-campaign-2019 {
  background-image: url("images/A6_NOV_Dealer-Hub-HPB_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.universal-traffic-recorder_2020 {
  background-image: url("images/UTR-HPB_1920x735_29Jan-Option-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-long-weekend-march-2020 {
  background-image: url("images/Long-Weekend_HPB-Dealer-Hub_2020.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.holiday-check-march-2020 {
  background-image: url("images/Holiday-Check_HPB-Dealer-Hub_2020.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.covid19-dealer-content-2020 {
  background-image: url("images/covid19-dealer-content2-2020.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.model-images-2020 {
  background-image: url("images/R805.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.covid-19-communication-templates {
  background-image: url("images/recovery-plan-2020.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-campaign-extention-due-to-covid19 {
  background-image: url("images/AFP-HPB_1920x735_27May_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-pre-owned-june-2020-family-is-forever {
  background-image: url("images/1920x735-Banner-Pack-1-Static.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.forward-together-retail-campaign-2020 {
  background-image: url("images/Dealer-Hub-HPB_1920x735_11June.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.product-videos {
  background-image: url("images/audi-a6-videos.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audismart-service-2020-audi_after_sales {
  background-image: url("images/dealerhub-banner-29june.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q3-sportback-campaign-2020 {
  background-image: url("images/Q3_HPB-Dealer-Hub_1920x735-V2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-connect-campaign {
  background-image: url("images/Audi-Connect_Dealer-Hub-HPB_1920x735_28Aug.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a4-pre-launch-campaign {
  background-image: url("images/Dealer-Hub-HPB_1920x735_11Sep.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-wayde-van-niekerk-lane8-campaign {
  background-image: url("images/Lane8.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.email-signatures {
  background-image: url("images/1920x735_15Sep.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.progressive-finance-retail-campaign {
  background-image: url("images/Dealer-Hub-HPB_1920x735_Revised.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.future-is-an-attitude-a4 {
  background-image: url("images/FIAA-A4_Hub-HPB_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.lifestyle-imagery {
  background-image: url("images/AUDI_Brandcampaign_People_HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-q7-sq7-launch-campaign {
  background-image: url("images/Q7-dealerHub-HPB-1920x735-17-11.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-getaway-campaign-agp-quality-check-campaign-2020 {
  background-image: url("images/quality-check-hpb.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.future-is-an-attitude-a5 {
  background-image: url("images/A5_Dealer-Hub-HPB_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.tt-rs-campaign {
  background-image: url("images/Audi TT RS-Dealer hub-1920x735_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.s7-sportback-campaign {
  background-image: url("images/s7-sportback-campaign.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.drive-for-tomorrow-retail-campaign {
  background-image: url("images/new-hpb-for-dealer-hub-page.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-campaign {
  background-image: url("images/AGA_Dealer-Hub-HPB_1920x735_11FEB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-extension-refreshed-material {
  background-image: url("images/AFP-Dealer-Hub-HPB_1920x735_19FEB_option-2_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.performance-is-an-attitude-2021-rs-launch-campaign {
  background-image: url("images/New-R8-Dealer-Hub-image-1920x735.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.quality-check-2021-quarter-1 {
  background-image: url("images/quality-check-2021-quarter-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-brand-campaign-2021-quarter-1 {
  background-image: url("images/AGA-Dealer-Hub-1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-e-tron {
  background-image: url("images/e-tron-header.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q2-pi-launch-campaign-2021 {
  background-image: url("images/41798---FEE-Q2-Launch-HPB-1400x438_.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.pre-owned-campaign-2021 {
  background-image: url("images/pre-owned-DealerHub_1920x735.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-quarter-2-2021 {
  background-image: url("images/new-AGA-Dealer-Hub-1920x735.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-imagery-audi_after_sales {
  background-image: url("images/aga-imagery-audi_after_sales.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.a3-sportback-sedan-launch-2021-audi_marketing_and_communications {
  background-image: url("images/dealer-site-HPB.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.audi-freeway-plan-campaign-2021 {
  background-image: url("images/45400_Dealerhub_AFP_1920 x 735_V4.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.q5-pi-q5-sportback-launch {
  background-image: url("images/q5-pi-q5-campaign-launch-image.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.aga-retail-q4-campaign {
  background-image: url("images/DealerHub_1920x735-new.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
/*Post Styling*/
/*main menu styling*/
.off-canvas-menu {
  width: 280px;
  float: left;
  margin: 0;
  padding: 15px;
  font-family: 'AudiType-Normal', sans-serif;
  background: rgba(255, 255, 255, 0.95);
}
.off-canvas-menu .menu {
  margin: 0;
  padding: 0;
}
.off-canvas-menu .menu li {
  margin: 0;
  /*padding-left: 10px;*/
  list-style: none;
  border-bottom: 1px solid #c1c1c1;
}
.off-canvas-menu .menu li ul {
  margin: 0;
  padding: 0 0 0 20px;
  border-top: 1px solid #c1c1c1;
}
.off-canvas-menu .menu li ul li:last-child {
  border-top: none;
}
.off-canvas-menu .menu li ul li {
  list-style: disc;
  margin-left: 0;
}
.off-canvas-menu .menu li ul li ul li {
  list-style: circle;
  margin-left: 0;
  color: #efefef;
}
.off-canvas-menu .menu li ul li a {
  font-size: 14px;
  color: #efefef;
}
.off-canvas-menu .menu li a {
  display: block;
  margin: 0;
  color: #7f7f7f;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.off-canvas-menu .menu li a:hover {
  text-decoration: none;
  color: #000;
}
.nav-placeholder {
  /*margin-top: 50px;
  float: left;*/
}
/*menu open and close icon*/
.open-panel,
.close-panel {
  background-image: url("images/icon.jpg");
  background-repeat: no-repeat;
  height: 18px;
}
/*class is added with js to stick nav to top*/
.fixed {
  position: fixed;
  top: 0;
  margin-top: 25px;
}
.hide {
  display: none !important;
}
/*main menu styling*/
/*.off-canvas-menu ul {
  padding-left: 10px;
  margin-top: 0;
  margin-left: 10px;
}

.off-canvas-menu li {
  list-style-type: none;
  border-bottom:1px solid #c1c1c1;
  display: table;
  padding: 10px;
  font-family: 'AudiType-Normal', sans-serif;
}

.off-canvas-menu a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
  display: block;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  }*/
.off-canvas-menu a:hover {
  text-decoration: none;
  color: #000;
}
.first,
.last {
  font-family: "AudiType-ExtendedBold", sans-serif;
  font-size: 14px !important;
  padding-left: 20px;
}
.first {
  background-image: url("images/menu.svg");
  background-image: url("images/ham-burger.png") \9;
  background-repeat: no-repeat;
  background-position: left center;
}
.first a,
.last a {
  color: #000 !important;
  display: block;
}
.last {
  background-image: url("images/icon-prev.svg");
  background-image: url("images/icon-prev-campaigns.png") \9;
  background-repeat: no-repeat;
  background-position: left center;
}
li.last {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
li.first {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.off-canvas-menu a.active {
  color: #000;
}
/*page title*/
.side_navigation {
  margin: 0;
  padding: 0;
}
.main_content {
  padding: 0;
  width: 60%;
  margin: 0 auto;
}
.main_content h2 {
  font-family: 'AudiType-ExtendedBold', sans-serif;
  font-size: 30px;
  margin-bottom: 0.5em;
}
.main_content h3 {
  font-family: 'AudiType-ExtendedBold', sans-serif;
  font-size: 18px;
  margin-bottom: 0.5em;
}
.main_content p {
  font-family: 'AudiType-Normal', sans-serif;
  font-size: 14px;
}
.main_content a {
  color: #000;
  text-decoration: none;
  /*display: block;*/
  padding: 10px 0;
}
.main_content a:hover,
.main_content a:active {
  text-decoration: none;
}
.index-wrapper {
  margin-top: 50px;
  max-width: 940px;
  margin: 0 auto;
}
.post-title {
  font-weight: bold;
}
.cat-child {
  padding-left: 0;
  margin-left: 0;
}
.cat-child a {
  display: block;
  text-decoration: none;
  color: #000;
}
.li-cat-child {
  font-family: 'AudiType-Normal', sans-serif;
  font-size: 14px;
  padding-left: 3px;
  list-style-type: none;
  border-bottom: 1px solid #c2c2c2;
}
.li-cat-child a:hover {
  background-color: #f2f2f2;
  opacity: 0.5;
  text-decoration: none;
}
.li-cat-child a {
  height: 36px;
  line-height: 35px;
}
.home-title h2 {
  font-family: 'AudiType-ExtendedBold', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}
.parent-cat {
  border-bottom: 2px solid #000;
  font-family: 'AudiType-ExtendedBold', sans-serif;
  font-size: 14px;
  padding: 15px 0;
}
.parent-cat p {
  margin: 0;
  padding: 0;
}
a.open-panel,
a.close-panel {
  display: none;
}
.scrollTop {
  height: 36px;
  width: 128px;
  background-color: #000;
  position: fixed;
  bottom: 0;
  right: 0;
  display: table;
  background-image: url("images/top-arrow.jpg");
  background-repeat: no-repeat;
  background-position: 110px 15px;
}
.scrollTop span {
  vertical-align: middle;
  display: table-cell;
  color: #fff;
  font-family: 'AudiType-Normal', sans-serif;
  padding-left: 10px;
}
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  font-family: 'AudiType-Normal', sans-serif;
}
.video-wrap {
  background: #fff;
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
  padding-top: 15px;
}
.video-wrap p {
  padding: 5px 10px 20px;
  margin: 0;
}
.content ul {
  margin-bottom: 20px;
}
.content ul li {
  font-family: 'AudiType-Normal', sans-serif;
}
.content a {
  text-decoration: none;
}
/*Audi A3 PI*/
.social-skins {
  text-align: center;
  padding: 10px;
}
.social-skins p {
  display: block;
  padding: 5px;
}
/*STYLES FOR AUDI Q2 CAMPAIGN*/
#q2-launch-magazine .title,
#q2-launch-dealer-elements .title,
#q2-launch-local-stories .title,
#q2-launch-online-banners .title,
#q2-email-signatures .title,
#q2-social-skins .title {
  color: red;
}
.q2-custom-elements .dealer-elements {
  border: 1px solid #efefef;
  text-align: center;
  margin: 15px 0 15px;
  padding: 10px 0;
}
.q2-custom-elements .dealer-elements h3 {
  font-size: 14px;
  margin: 0 0 15px;
  padding: 0;
}
/*STYLES FOR AUDI Q2 CAMPAIGN*/
@media (max-width: 1160px) {
  .main_content {
    width: 90%;
  }
  .site-logo img {
    width: 30%;
  }
  .off-canvas-menu {
    width: 270px;
    position: fixed;
    left: -32%;
    top: 0;
    height: 100%;
  }
  .open-panel span,
  .close-panel span {
    opacity: 0;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(32%, 0, 0);
    -moz-transform: translate3d(32%, 0, 0);
    -ms-transform: translate3d(32%, 0, 0);
    -o-transform: translate3d(32%, 0, 0);
    transform: translate3d(32%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
@media (max-width: 1024px) {
  .off-canvas-menu {
    width: 32%;
    position: fixed;
    left: -50%;
    top: 0;
    height: 100%;
  }
  .content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(32%, 0, 0);
    -moz-transform: translate3d(32%, 0, 0);
    -ms-transform: translate3d(32%, 0, 0);
    -o-transform: translate3d(32%, 0, 0);
    transform: translate3d(32%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
@media (max-width: 980px) {
  .site-logo img {
    width: 30%;
  }
  .off-canvas-menu {
    width: 28.8%;
    position: fixed;
    left: -32%;
    top: 0;
    height: 100%;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(32%, 0, 0);
    -moz-transform: translate3d(32%, 0, 0);
    -ms-transform: translate3d(32%, 0, 0);
    -o-transform: translate3d(32%, 0, 0);
    transform: translate3d(32%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
@media (max-width: 768px) {
  .site-logo img {
    width: 50%;
  }
  .off-canvas-menu {
    width: 50%;
    position: fixed;
    left: -50%;
    top: 0;
    height: 100%;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
@media (max-width: 640px) {
  .site-logo img {
    width: 50%;
  }
  .off-canvas-menu {
    width: 270px;
    position: fixed;
    left: -71%;
    top: 0;
    height: 100%;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
@media (max-width: 320px) {
  .site-logo img {
    width: 70%;
  }
  .off-canvas-menu {
    width: 270px;
    position: fixed;
    left: -70%;
    top: 0;
    height: 100%;
  }
  a.open-panel {
    display: inline;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  a.close-panel {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 25px;
  }
  .close-panel {
    position: relative;
    top: 0.5em;
    left: 1em;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}
/* home page media queries*/
@media (min-width: 320px) {
  .index-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hidden-email-field {
  display: none;
}
/***** Login container *****/
.login-container .tittle {
  font-size: 30px;
  line-height: 40px;
}
.login-container .sub-tittle {
  font-size: 16px;
  line-height: 21px;
}
/***** Side Navigation *****/
.side-nav h2 {
  font-size: 12px;
  line-height: 16px;
  color: #9F9F9F;
}
.side-nav ul li {
  list-style: none;
}
.side-nav .nav-item {
  font-size: 14px;
  line-height: 19px;
  color: #3C3C3C;
}
.side-nav .nav-item a {
  font-size: 14px;
  line-height: 19px;
  color: #3C3C3C;
}
.side-nav .nav-item a:hover {
  text-decoration: none;
}
/***** main container copy *****/
.page-tittle {
  font-size: 26px;
  line-height: 35px;
}
.cat-name {
  font-size: 14px;
  line-height: 19px;
}
/***** Buttons *****/
.btn,
.registration-form .rm_next_btn.rm-btn.rm-btn-primary,
.subscribe-copy-holder button,
div.wpforms-container-full .wpforms-form button {
  text-align: center;
  width: 100%;
  /*max-width: 259px;
  height: 59px;*/
  line-height: 59px;
  outline: none !important;
}
.btn.btn-grey,
.registration-form .rm_next_btn.rm-btn.rm-btn-primary,
.subscribe-copy-holder button.btn-grey,
div.wpforms-container-full .wpforms-form button.btn-grey {
  background-color: #B2B2B2;
  color: #ffffff;
  line-height: 59px;
  padding: 0;
  margin-bottom: 11px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn.btn-grey:hover,
.registration-form .rm_next_btn.rm-btn.rm-btn-primary:hover,
.subscribe-copy-holder button.btn-grey:hover,
div.wpforms-container-full .wpforms-form button.btn-grey:hover {
  color: #ffffff;
}
.btn.btn-white,
.registration-form .btn-white.rm_next_btn.rm-btn.rm-btn-primary,
.subscribe-copy-holder button,
div.wpforms-container-full .wpforms-form button {
  background-color: #ffffff;
  color: #000000;
  line-height: 59px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn.btn-bordered,
.registration-form .btn-bordered.rm_next_btn.rm-btn.rm-btn-primary,
.subscribe-copy-holder button.btn-bordered,
div.wpforms-container-full .wpforms-form button.btn-bordered {
  border: 1px solid #707070;
  line-height: 59px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-container a {
  display: block;
}
.lost-password {
  margin-top: 40px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: underline;
  color: #000000;
}
.close-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index: 98;
}
/***** Container Layout *****/
.content-index .hero + .outer-container {
  position: relative;
}
.content-index .hero + .outer-container .side-nav {
  position: absolute;
}
.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  background-color: #FBFBFB;
}
.outer-container .content-copy {
  padding-top: 25px;
}
.outer-container .content-copy .col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}
.outer-container .content-copy .col-xs-4 {
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .outer-container .content-copy {
    padding-top: 60px;
  }
}
.main-copy-holder {
  position: relative;
  width: 77%;
  padding: 131px 9% 30px 10%;
  background-color: #FBFBFB;
}
.main-copy-holder.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6% 0 6%;
  justify-content: center;
}
.main-copy-holder .main_content {
  width: auto;
}
.main-copy-holder .main_content .content ul {
  margin-bottom: 20px;
  margin-left: 20px;
}
.main-copy-holder .row {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 1367px) {
  .main-copy-holder {
    padding: 131px 5% 30px 5%;
  }
}
@media screen and (max-width: 1200px) {
  .main-copy-holder.vertical-center {
    justify-content: flex-start;
    padding: 131px 6% 0 6%;
  }
  .main-copy-holder .row {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  .main-copy-holder {
    padding: 60px 5% 30px 5%;
    width: 100% !important;
  }
  .main-copy-holder.vertical-center {
    justify-content: flex-start;
    padding: 60px 6% 0 6%;
  }
}
.grey-body {
  background-color: #FBFBFB;
}
/***** Side Navigation *****/
.side-nav {
  background-color: #CCCCCC;
  min-width: 307px;
  width: 23%;
  position: fixed;
  z-index: 2;
  overflow: auto;
  left: 0;
  height: 100%;
}
.side-nav.open {
  overflow: hidden;
}
.side-nav ul {
  padding: 131px 20px 50px 35px;
  position: relative;
  top: 0;
}
.side-nav .nav-item {
  border-bottom: 1px solid #9F9F9F;
  font-family: 'AudiType-Normal', sans-serif;
}
.side-nav .nav-item h2 {
  margin-left: -10px;
}
.side-nav .nav-item h2,
.side-nav .nav-item a {
  display: block;
  padding: 12px 10px 7px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'AudiType-Normal', sans-serif;
}
.side-nav .nav-item a {
  display: block;
}
.side-nav .nav-item:last-of-type {
  border-bottom: none;
}
.side-nav .sub-nav {
  position: relative;
}
.side-nav .sub-nav:after {
  content: "";
  position: absolute;
  top: 19.5px;
  right: 0;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("images/right-arrow-black.png");
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.side-nav .sub-nav.open-nav-item:after {
  background-image: url("images/right-arrow-down.png");
}
.side-nav .sub-nav.open-nav-item > ul {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  height: auto;
}
.side-nav .sub-nav a {
  display: inline-block;
  text-decoration: none;
}
.side-nav .sub-nav ul {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.side-nav .sub-nav ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #9F9F9F;
}
.side-nav .sub-nav ul li:first-of-type {
  padding-top: 10px;
}
.side-nav .sub-nav ul li:last-of-type {
  border-bottom: none;
  margin-bottom: 10px;
}
.side-nav .sub-nav ul li a {
  padding: 0;
}
.side-nav .nav-btns {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.side-nav .nav-btns.close-btn {
  background-image: url("images/close-btn.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.side-nav .nav-btns.close-btn:after {
  display: block;
  /*content: "Close";*/
  font-weight: bold;
  width: 60px;
  font-size: 14px;
  line-height: 14px;
  color: #3C3C3C;
  position: relative;
  top: 0;
  right: 40px;
  margin: 2px 40px 0 0;
}
.side-nav .nav-btns.open-btn {
  top: 60px;
  right: -50px;
  width: 32px;
  height: 32px;
  background-image: url("images/burger-menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #ffffff;
}
@media screen and (max-width: 800px) {
  .side-nav {
    min-width: 250px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -80%;
    width: 80%;
    overflow: visible;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    z-index: 99;
  }
  .side-nav ul {
    padding-top: 60px;
  }
  .side-nav .nav-btns {
    display: block;
    top: 57px;
  }
  .side-nav.open {
    left: 0;
    overflow: auto;
  }
  .side-nav.open .nav-btns.open-btn {
    -moz-opacity: 0;
    opacity: 0;
    display: none;
  }
  .side-nav .audi-logo {
    margin: 50px 20px 20px 20px;
  }
}
/***** Search Bar *****/
.search-bar-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 50px;
  position: static;
  top: 36px;
  left: 13%;
}
.search-bar-holder .search-bar {
  width: 277px;
}
.search-bar-holder .is-form-style input.is-search-input {
  border: none !important;
  border-bottom: 1px solid #9F9F9F !important;
  background-color: transparent;
}
.search-bar-holder .is-form-style button.is-search-submit .is-search-icon {
  background: transparent !important;
  border: none !important;
  position: absolute;
  top: 0;
  left: 0;
}
.search-bar-holder .is-form-style input.is-search-input {
  padding: 0 12px 0 40px;
}
@media screen and (max-width: 1367px) {
  .search-bar-holder {
    /*padding: $top-padding 5% 30px 5%;*/
    left: 7%;
  }
}
@media screen and (max-width: 800px) {
  .search-bar-holder {
    position: relative;
    top: 0;
    right: auto;
    width: auto;
    left: 0;
  }
  .search-bar-holder .search-bar {
    width: 100%;
  }
}
/***** Logo *****/
.audi-logo {
  display: block;
  width: 100px;
  margin: 20px;
}
/***** Category & Campaigns *****/
.campaigns-holder {
  display: block;
}
.campaigns-holder .campaign .owl-carousel .inner-cont {
  margin-bottom: 0;
}
.campaigns-holder .campaign .owl-carousel {
  position: relative;
}
.campaigns-holder .campaign .owl-carousel .owl-dots {
  display: none;
}
.campaigns-holder .campaign .owl-carousel .owl-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  /*top: 9px;*/
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
.campaigns-holder .campaign .owl-carousel .owl-nav button {
  width: 24px;
  height: 24px;
}
.campaigns-holder .campaign .owl-carousel .owl-nav button > * {
  display: none;
}
.campaigns-holder .campaign .owl-carousel .owl-nav button.owl-prev {
  margin-left: -60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("images/left-arrow.png");
}
.campaigns-holder .campaign .owl-carousel .owl-nav button.owl-next {
  margin-right: -60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("images/right-arrow.png");
}
.campaigns-holder .campaign .owl-carousel .owl-nav button.disabled {
  -moz-opacity: 0;
  opacity: 0;
}
.campaigns-holder.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.campaigns-holder.gallery-container .gallery {
  float: none;
  margin: 0 10px 10px 0;
  width: 180px;
}
.campaigns-holder.gallery-container .gallery a {
  display: block;
  overflow: hidden;
  background-image: url("images/default.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.campaigns-holder.gallery-container .gallery img {
  width: 100% !important;
  max-width: unset;
  height: auto !important;
  -moz-opacity: 0;
  opacity: 0;
}
.campaigns-holder.gallery-container .gallery .desc {
  padding: 5px;
}
@media screen and (max-width: 1367px) {
  .campaigns-holder .campaign .owl-carousel .owl-nav button.owl-prev {
    margin-left: -40px;
  }
  .campaigns-holder .campaign .owl-carousel .owl-nav button.owl-next {
    margin-right: -40px;
  }
}
@media screen and (max-width: 1000px) {
  .campaigns-holder.gallery-container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 800px) {
  .campaigns-holder .campaign .owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
  .campaigns-holder .campaign .owl-carousel .owl-nav button {
    display: none;
  }
  .campaigns-holder .campaign .owl-carousel .owl-nav button.owl-prev {
    margin-left: -30px;
  }
  .campaigns-holder .campaign .owl-carousel .owl-nav button.owl-next {
    margin-right: -30px;
  }
}
@media screen and (max-width: 450px) {
  .campaigns-holder.gallery-container .gallery {
    width: 100%;
  }
  .campaigns-holder.gallery-container .gallery a {
    width: 100%;
    max-height: unset;
    min-height: unset;
  }
  .campaigns-holder.gallery-container .gallery a img {
    -moz-opacity: 1;
    opacity: 1;
  }
}
.campaign {
  display: block;
}
.campaign .category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.campaign .category:last-of-type {
  margin-bottom: 0;
}
.campaign .category .inner-cont {
  padding: 0 20px 20px 0;
}
.campaign .category .inner-cont img {
  width: 100% !important;
  max-width: unset;
  height: auto !important;
}
.campaign .category .inner-cont a:first-of-type {
  display: block;
  overflow: hidden;
  background-image: url("images/default.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 16px;
  background-image: none !important;
}
.campaign .category .inner-cont a:nth-of-type(2) {
  min-height: 35px;
  display: block;
}
.campaign .category .inner-cont p,
.campaign .category .inner-cont a {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
.campaign .category .inner-cont p.copy-page,
.campaign .category .inner-cont a.copy-page {
  margin-bottom: 12px;
}
@media screen and (max-width: 1367px) {
  .campaign .category .inner-cont {
    width: auto;
  }
}
@media screen and (max-width: 800px) {
  .campaign .category .inner-cont {
    width: 100%;
    padding-right: 0;
  }
  .campaign .category .inner-cont a {
    width: 100%;
    max-height: unset !important;
    min-height: unset !important;
    margin-bottom: 16px;
  }
  .campaign .category .inner-cont a img {
    -moz-opacity: 1;
    opacity: 1;
    margin-bottom: 0;
  }
}
.intro {
  vertical-align: top;
  margin-bottom: 43px;
}
.intro .page-tittle {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
}
.intro a {
  display: inline-block;
  padding: 5px 25px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
.intro a:first-of-type {
  padding-left: 0;
}
.intro a:hover {
  color: #000000;
}
/***** Login container *****/
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*>div{
  	height: 100vh;
  }*/
}
.login-container .tittle {
  margin: 0 0 47px;
}
.login-container .sub-tittle {
  margin: 0 0 8px;
}
.login-container .input-container label,
.login-container .input-container[class*="login-"] {
  display: block;
}
.login-container .input-container.login-password,
.login-container .input-container.login-username {
  margin-bottom: 53px;
  width: 100%;
}
.login-container .input-container.login-password input,
.login-container .input-container.login-username input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  padding-bottom: 3px;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  width: 100%;
  max-width: 260px;
}
.login-container .input-container.checkmark,
.login-container .input-container.login-remember {
  margin-bottom: 22px;
  width: 100%;
  position: relative;
}
.login-container .input-container.checkmark label,
.login-container .input-container.login-remember label {
  display: inline-block;
  padding-left: 40px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin: 0;
  font-weight: 400;
}
.login-container .input-container.checkmark input,
.login-container .input-container.login-remember input {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
  -moz-opacity: 0;
  opacity: 0;
}
.login-container .input-container.checkmark input[type='checkbox'] + label,
.login-container .input-container.login-remember input[type='checkbox'] + label {
  background-image: url("./images/checkbox.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23px 23px;
  line-height: 24px;
}
.login-container .input-container.checkmark input[type='checkbox']:checked + label,
.login-container .input-container.login-remember input[type='checkbox']:checked + label {
  background-image: url("./images/checkbox-checked.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23px 23px;
  line-height: 24px;
}
.login-container .input-container.login-remember label {
  text-decoration: none;
}
.login-container .input-container .inp.errorState input[type='checkbox'],
.login-container .input-container .inp.errorState input[type='checkbox'] + label,
.login-container .input-container .inp.errorState + a,
.login-container .input-container .inp.errorState label {
  color: red !important;
}
.login-container .input-container .inp,
.login-container .input-container a {
  position: relative;
  display: inline-block;
}
.login-container .input-container .inp + a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-decoration: underline;
}
.login-container .btn-container {
  margin-top: 38px;
}
@media screen and (max-width: 600px) {
  .login-container .btn-container .btn,
  .login-container .btn-container .registration-form .rm_next_btn.rm-btn.rm-btn-primary,
  .registration-form .login-container .btn-container .rm_next_btn.rm-btn.rm-btn-primary,
  .login-container .btn-container .subscribe-copy-holder button,
  .subscribe-copy-holder .login-container .btn-container button,
  .login-container .btn-container div.wpforms-container-full .wpforms-form button,
  div.wpforms-container-full .wpforms-form .login-container .btn-container button {
    max-width: unset;
  }
  .login-container .input-container.login-password input,
  .login-container .input-container.login-username input {
    width: 100%;
    max-width: unset;
  }
}
@media screen and (max-width: 800px) {
  .login-container .copy-container {
    height: auto;
    padding: 40px;
  }
}
/***** graphic container *****/
.copy-container {
  padding: 110px 140px 0;
}
@media screen and (max-width: 1367px) {
  .copy-container {
    padding: 50px 90px 50px;
  }
}
@media screen and (max-width: 1200px) {
  .copy-container {
    padding: 50px 90px 50px;
  }
}
@media screen and (max-width: 800px) {
  .copy-container {
    padding: 40px 40px 0;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  .copy-container {
    width: 100%;
  }
}
/***** graphic container *****/
.graphic-container {
  background-image: url("");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .graphic-container {
    display: none;
  }
}
/***** Register form *****/
.registration {
  max-width: 550px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 90px;
}
.registration:after {
  position: relative;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
}
.registration:after::after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .registration {
    padding-top: 40px;
  }
}
.registration-form {
  padding: 90px 0 0;
}
.registration-form p {
  margin: 0;
}
.registration-form .rmagic .rmheader {
  display: none;
}
.registration-form *,
.registration-form .rmfield,
.registration-form .rmfieldset,
.registration-form .rminput,
.registration-form .rmrow,
.registration-form .rmagic .rmcontent form fieldset {
  padding: 0;
  margin: 0;
  min-height: unset;
}
.registration-form .rmfield,
.registration-form .rminput {
  display: block;
}
.registration-form .rmagic,
.registration-form .rmfield,
.registration-form .rminput,
.registration-form .rmagic .rmrow .rminput select,
.registration-form .rmagic .rmrow .rminput input[type="text"],
.registration-form .rmagic .rmrow .rminput input[type="password"],
.registration-form .rmagic .rmrow .rminput input[type="email"],
.registration-form .rmagic .rmrow .rminput input[type="url"],
.registration-form .rmagic .rmrow .rminput input[type="number"],
.registration-form .rmagic .rmrow .rminput textarea,
.registration-form .rmagic form.rmagic-form {
  max-width: unset;
  min-height: unset;
  float: none;
  width: auto;
}
.registration-form .rmagic .rmrow .rminput {
  width: 100%;
}
.registration-form .rmagic .rmrow .rminput input[type="text"],
.registration-form .rmagic .rmrow .rminput input[type="email"],
.registration-form .rmagic .rmrow .rminput select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #333333;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  background: none;
}
.registration-form .rmagic .rmrow .rminput input[type="text"]::-webkit-input-placeholder,
.registration-form .rmagic .rmrow .rminput input[type="email"]::-webkit-input-placeholder,
.registration-form .rmagic .rmrow .rminput select::-webkit-input-placeholder {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}
.registration-form .rmagic .rmrow .rminput input[type="text"]::-moz-placeholder,
.registration-form .rmagic .rmrow .rminput input[type="email"]::-moz-placeholder,
.registration-form .rmagic .rmrow .rminput select::-moz-placeholder {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}
.registration-form .rmagic .rmrow .rminput input[type="text"]:-ms-input-placeholder,
.registration-form .rmagic .rmrow .rminput input[type="email"]:-ms-input-placeholder,
.registration-form .rmagic .rmrow .rminput select:-ms-input-placeholder {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}
.registration-form .rmagic .rmrow .rminput input[type="text"]:-moz-placeholder,
.registration-form .rmagic .rmrow .rminput input[type="email"]:-moz-placeholder,
.registration-form .rmagic .rmrow .rminput select:-moz-placeholder {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
}
.registration-form .rmagic .rmrow .rmfield label {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}
.registration-form .rmagic .rmrow {
  max-width: unset;
  min-height: unset;
  width: 50%;
  margin-bottom: 50px;
  padding-right: 35px;
}
.registration-form .rm_next_btn.rm-btn.rm-btn-primary {
  outline: none;
  max-width: 240px;
  border: none;
}
.registration-form .rmagic .buttonarea {
  float: none;
  margin: 20px 0;
  padding-right: 20px;
  text-align: right !important;
}
@media screen and (max-width: 600px) {
  .registration-form {
    padding-top: 40px;
  }
  .registration-form .rm_next_btn.rm-btn.rm-btn-primary {
    max-width: unset;
  }
  .registration-form .rmagic .rmrow {
    width: 100%;
    padding-right: 0;
    margin: 0 0 30px;
  }
  .registration-form .rmagic .buttonarea {
    padding-right: 0;
  }
}
/***** Featured Items*****/
.featured-item-container .featured-item .feature-image {
  background-color: transparent;
}
.featured-item-container .featured-item .feature-image.white-bg {
  background-color: #ffffff;
}
/****** SUBSCRIBE ******/
.subscribe-title {
  display: none;
}
.subscribe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.subscribe-copy-holder {
  padding: 40px 0;
  margin-right: 100px;
  width: 260px;
}
@media screen and (max-width: 1199px) {
  .subscribe-copy-holder {
    margin-right: 0;
    width: auto;
  }
}
.subscribe-copy-holder .wpforms-field-label,
div.wpforms-container-full .wpforms-form .wpforms-field-label,
div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-size: 26px !important;
  line-height: 30px !important;
  margin: 0 0 23px 0 !important;
}
.subscribe-copy-holder button,
div.wpforms-container-full .wpforms-form button,
div.wpforms-container-full .wpforms-form button {
  margin: 33px 0 0 !important;
  padding: 0 !important;
  background-color: #ffffff !important;
}
.subscribe-copy-holder div.wpforms-container-full .wpforms-form .choice-1.depth-1,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form .choice-1.depth-1,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form .choice-1.depth-1 {
  position: relative;
}
.subscribe-copy-holder div.wpforms-container-full .wpforms-form input[type='checkbox'] + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'] + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'] + label {
  display: inline-block;
  padding-left: 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  font-weight: 400;
}
.subscribe-copy-holder div.wpforms-container-full .wpforms-form input[type='checkbox'],
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'],
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'] {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  outline: none;
  -moz-opacity: 0;
  opacity: 0;
}
.subscribe-copy-holder div.wpforms-container-full .wpforms-form input[type='checkbox'] + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'] + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox'] + label {
  background-image: url("./images/checkbox.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23px 23px;
  line-height: 24px;
}
.subscribe-copy-holder div.wpforms-container-full .wpforms-form input[type='checkbox']:checked + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox']:checked + label,
div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type='checkbox']:checked + label {
  background-image: url("./images/checkbox-checked.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 23px 23px;
  line-height: 24px;
}
@media screen and (max-width: 1199px) {
  .subscribe-copy-holder div.wpforms-container-full .wpforms-form input[type=submit],
  .subscribe-copy-holder div.wpforms-container-full .wpforms-form button[type=submit],
  .subscribe-copy-holder div.wpforms-container-full .wpforms-form .wpforms-page-button,
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type=submit],
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form button[type=submit],
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form .wpforms-page-button,
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form input[type=submit],
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form button[type=submit],
  div.wpforms-container-full .wpforms-form div.wpforms-container-full .wpforms-form .wpforms-page-button {
    max-width: unset;
  }
}
.subscribe-image-container {
  max-width: 444px;
  width: 100%;
}
.subscribe-image-container img {
  width: 100%;
  height: auto;
  max-height: 364px;
}
@media screen and (max-width: 1000px) {
  .subscribe-image-container {
    padding-left: 0;
  }
}
/***** Index *****/
.content-index .hero {
  margin: 0 auto;
  background-size: cover;
  background-color: #FBFBFB;
}
.content-index .hero img {
  visibility: unset !important;
}
.page-menu .off-canvas-menu {
  width: auto;
  float: none;
  padding: 0;
  background-color: transparent;
}
.page-menu .off-canvas-menu.fixed {
  position: static;
  top: unset;
  margin: 0;
}
.page-menu .off-canvas-menu .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.page-menu .off-canvas-menu .menu li,
.page-menu .off-canvas-menu .menu li a {
  display: block;
  margin: 0;
  color: #000000;
  padding: 0;
  border: none;
}
.page-menu .off-canvas-menu .menu li:first-of-type a {
  padding-left: 0;
}
.page-menu .off-canvas-menu .menu li:hover a {
  text-decoration: underline;
}
.page-menu .off-canvas-menu .menu li a {
  padding: 0 30px 10px 0;
}
.page-menu .off-canvas-menu .last,
.page-menu .off-canvas-menu .first {
  background-image: none;
}
@media screen and (max-width: 1160px) {
  .page-menu .off-canvas-menu {
    width: auto;
    position: static;
    left: unset;
    top: unset;
    height: auto;
  }
}
div.is-ajax-search-details,
div.is-ajax-search-result {
  padding: 0 !important;
  background-color: #FBFBFB !important;
}
div.is-ajax-search-details .is-ajax-search-items > div,
div.is-ajax-search-details .is-ajax-search-post,
div.is-ajax-search-result .is-ajax-search-items > div,
div.is-ajax-search-result .is-ajax-search-post {
  background-color: transparent;
}
.audi-q7-executive-edition-package {
  background-image: url("images/audi-7-executive-edition-package.png");
}
.audi-a1-urban-sport-edition {
  background-image: url("images/audi-a1-urban-sport-edition.png");
}
.q3_pi {
  background-image: url("images/audi-q3-pi.png");
}
.audi_sport_campaign {
  background-image: url("images/audi-sport-campaign.png");
}
.a4-sedan-a3-sedan-retail-campaign {
  background-image: url("images/a4-sedan-a3-sedan-retail-campaign.jpg");
}
.audi_a1 {
  background-image: url("images/audi-a1.png");
}
.model-images-2020 {
  background-image: url("images/model-images-2020.jpg");
}
.s7-sportback-campaign {
  background-image: url("images/s7-sportback-campaign.jpg");
}
.audi_a4_sport_edition_plus {
  background-image: url("images/audi-a4-sport-edition-plus.png");
}
.pre-owned-q4-launch {
  background-image: url("images/pre-owned-q4-launch.jpg");
}
.audi_q7_campaign {
  background-image: url("images/audi-q7-campaign.png");
}
.q2-pi-launch-campaign-2021 {
  background-image: url("images/q2-pi-launch-campaign.jpg");
}
.audi-pre-owned-templates {
  background-image: url("images/audi-pre-owned-templates.png");
}
.pre-owned-campaign-forever-audi {
  background-image: url("images/pre-owned-campaign-forever-audi.jpg");
}
.dealership-ci-guidelines {
  background-image: url("images/dealership-ci-guidelines.png");
}
.audi-freeway-plan-2022 {
  background-image: url("images/audi-freeway-plan-2022.png");
}
.twenty-point-check-2022 {
  background-image: url("images/20-point-check-2022.jpg");
}
.aga-retail-q4-campaign {
  background-image: url("images/aga-retail-q4-campaign.jpg");
}
.aga-imagery-audi_after_sales {
  background-image: url("images/aga-imagery-audi_after_sales.jpg");
}
.aga-brand-campaign-2021-quarter-1 {
  background-image: url("images/aga-brand-campaign-2021-quarter-1.jpg");
}
.audi-freeway-plan-extension-refreshed-material {
  background-image: url("images/audi-freeway-plan.jpg ");
}
.aga-retail-campaign {
  background-image: url("images/aga-retail-campaign.jpg");
}
.audi-e-tron-launch-campaign-2022 {
  background-image: url("images/audi-e-tron-launch-campaign-2022.jpg");
}
.aga-retail-quarter-2-2021 {
  background-image: url("images/aga.jpg") !important;
}
.landing_page {
  background-image: url("images/LANDINGPAGE_1920X770.jpg");
}
.audi-freeway-plan-campaign-2021 {
  background-image: url("images/audi-freeway-plan-campaign-2021.jpg");
}
.audi-freeway-plan-campaign-extention-due-to-covid19 {
  background-image: url("images/audi-freeway-plan-campaign-extention-due-to-covid19.jpg");
}
.audi-connect-plug-and-play {
  background-image: url("images/pnp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.aga-getaway-campaign-agp-quality-check-campaign-2020 {
  background-image: url("images/qc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.universal-traffic-recorder_2020 {
  background-image: url("images/universal-traffic-recorder_2020.png");
}
.cat-name,
.intro .page-tittle {
  font-family: "AudiType-ExtendedBold", sans-serif;
}
#home-intro {
  margin-top: 43px;
}
.rs3-sportback-and-sedan-launch {
  background-image: url("images/rs3-sportback-and-sedan-launch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
