
//please use dashes(-) for variable names

//background images
@mixin background( $dir, $repeat, $pos, $bsize) {
	background-image: url($dir);
	background-position: $pos;
	background-repeat: $repeat;
	-webkit-background-size: $bsize;
	-moz-background-size: $bsize;
	-o-background-size: $bsize;
	background-size: $bsize;
}
@mixin background2($repeat, $pos, $bsize) {
	background-image: none;
	background-position: $pos;
	background-repeat: $repeat;
	-webkit-background-size: $bsize;
	-moz-background-size: $bsize;
	-o-background-size: $bsize;
	background-size: $bsize;
}

//font $colors
@mixin font-style($fsize, $color, $weight, $height, $align){
	font-size: $fsize;
	color: $color;
	font-weight: $weight;
	line-height: $height;
	text-align: $align;
}

//clearfix
@mixin clear-fix {
	position: relative;
	line-height: 0;
	font-size: 0;
	margin: 0;
	padding: 0;
	clear: both;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

//after element
@mixin after-elm ($y_top, $x_left, $x_right , $y_bottom, $w, $h){
	content: '';
	display: block;
	width: $w;
	height: $h;
	top: $y_top;
	left: $x_left;
	right: $x_right;
	bottom: $y_bottom;
	position: absolute;
}

//place-holder
@mixin place-holder( $color, $fontsize, $lineheight){
	&::-webkit-input-placeholder {
		color: $color;
		font-size: $fontsize;
		line-height: $lineheight;
	}
	&::-moz-placeholder {
		color: $color;
		font-size: $fontsize;
		line-height: $lineheight;
	}
	&:-ms-input-placeholder {
		color: $color;
		font-size: $fontsize;
		line-height: $lineheight;
	}
	&:-moz-placeholder {
		color: $color;
		font-size: $fontsize;
		line-height: $lineheight;
	}
}

//box-shadow
@mixin box-shadow($shadow){
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

//before element
@mixin before-elm ($y_top, $x_left, $x_right , $y_bottom, $w, $h){
	content: '';
	position: absolute;
	display: block;
	top: $y_top;
	left: $x_left;
	right: $x_right;
	bottom: $y_bottom;
	width: $w;
	height: $h;
}

//to position the element in parent
@mixin positioner($pos, $x, $y) {
	position: $pos;
	top: $y;
	left: $x;
}

//element styles
@mixin elm($width, $height, $display){
	display: $display;
	width: $width;
	height: $height;
}

//position element by position
@mixin translate($elmposX, $elmposY){
	-webkit-transform: translate($elmposX, $elmposY);
	   -moz-transform: translate($elmposX, $elmposY);
		-ms-transform: translate($elmposX, $elmposY);
		 -o-transform: translate($elmposX, $elmposY);
			transform: translate($elmposX, $elmposY);
}

//transition elements
@mixin transition($property, $timing){
	-webkit-transition: $property $timing linear;
	   -moz-transition: $property $timing linear;
		 -o-transition: $property $timing linear;
			transition: $property $timing linear;
}

//to skew the element
@mixin skew($skewXdeg, $skewYdeg) {
	-webkit-transform: skew($skewXdeg, $skewYdeg);
	   -moz-transform: skew($skewXdeg, $skewYdeg);
		-ms-transform: skew($skewXdeg, $skewYdeg);
		 -o-transform: skew($skewXdeg, $skewYdeg);
			transform: skew($skewXdeg, $skewYdeg);
}

//to scale the element
@mixin scale($scaleX,$scaleY) {
	-webkit-transform: scale($scaleX, $scaleY);
	   -moz-transform: scale($scaleX, $scaleY);
		-ms-transform: scale($scaleX, $scaleY);
		 -o-transform: scale($scaleX, $scaleY);
			transform: scale($scaleX, $scaleY);
}

//border radius styles
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;
}

//box-sizing
@mixin box-sizing() {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

//to rotate the element
@mixin rotate($z) {
	-webkit-transform: rotate($z);
	   -moz-transform: rotate($z);
		-ms-transform: rotate($z);
		 -o-transform: rotate($z);
			transform: rotate($z);
}

//box-shadow
@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	   -moz-box-shadow: $value;
		 -o-box-shadow: $value;
			box-shadow: $value;
}

// Flex Styles
@mixin flexwidth($val:100%) {
	width: $val;
	flex-basis: $val;
}

//opacity
@mixin opacity($opacity: 0){
	-moz-opacity: $opacity;
	opacity: $opacity;
}

//key-frames
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

//  ICOMOON
//  Generates an icon for use in pseudo-elements
//
//  TAKES
//      @parameter name
//
//  DEPENDENCIES
//      $fonticons (defined in _settings.sass)
//      $default-font-size (defined in _settings.sass)

// Is now deprecated, USE icon mixin instead
@mixin icomoon($name) {
  @include icon($name);
}

//  ICOMOON
//  Generates an icon for use in pseudo-elements
//
//  TAKES
//      @parameter name
//
//  DEPENDENCIES
//      $fonticons (defined in _settings.sass)
@mixin icon($name) {
  @extend %fonticon;

  @each $icon in $fonticons {
    $itemname: nth($icon, 1);
    $char: nth($icon, 2);

    @if $name == $itemname {
      content: $char;
    }
  }
}

%fonticon {
  font-family: 'icomoon';
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

@mixin reset-text() {
  $line-height-base: 19px;
  font-family: $theme-font-family-1;
// We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: 400;
  line-height: $line-height-base;
  line-break: auto;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
}

@mixin round-border-item() {
  background: #fff;
  border-radius: 16px;
  box-shadow: -1px -1px 20px rgba(#676767, 0.15);
}
