/***** Login container *****/
.login-container{
	.tittle{
		font-size: 30px;
		line-height: 40px;
	}
	.sub-tittle{
		font-size: 16px;
		line-height: 21px;
	}

}

/***** Side Navigation *****/
.side-nav{
	h2{
		font-size: 12px;
		line-height: 16px;
		color: $theme-color-6;
	}
	ul{
		li{
			list-style: none;
		}
	}
	.nav-item{
		font-size: 14px;
		line-height: 19px;
		color: $theme-color-5;

		a{
			font-size: 14px;
			line-height: 19px;
			color: $theme-color-5;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

/***** main container copy *****/

.page-tittle{
	font-size: 26px;
	line-height: 35px;
}
.cat-name{
	font-size: 14px;
	line-height: 19px;
}