@import "mixins";

$top-padding: 131px;
$top-padding-mobile: 60px;


//animation timing
$transitionTiming: 200ms;
$transitionTiming-2: 100ms;

//colors
//hex
$theme-color-1: #000000;
$theme-color-2: #ffffff;
$theme-color-3: #B2B2B2;
$theme-color-4: #707070;
$theme-color-5: #3C3C3C;
$theme-color-6: #9F9F9F;
$theme-color-7: #CCCCCC;
$theme-color-8: #333333;
$theme-color-9: #FBFBFB;
$theme-color-10: #ffffff;
$theme-color-11: #ffffff;
$theme-color-12: #ffffff;
$theme-color-13: #ffffff;
$theme-color-14: #ffffff;
$theme-color-15: #ffffff;
$theme-color-16: #ffffff;
$theme-color-17: #ffffff;
$theme-color-18: #ffffff;
$theme-color-19: #ffffff;
$theme-color-20: #ffffff;
$theme-color-21: #ffffff;
$theme-color-22: transparent;
$theme-color-23: #ffffff;
$theme-color-24: rgba(237, 237, 237, 0.5);
$theme-color-25: #ffffff;
$theme-color-26: #ffffff;
$theme-color-27: #ffffff;
$theme-color-28: #ffffff;
$theme-color-29: #ffffff;

//font-weight
$Normal: 400;		//Normal (Regular)
$Medium: 500;		//Medium
$Semi-bold: 600;	//Semi Bold (Demi Bold)
$Bold: 700;			//Bold

//Global variables
$max-container-width: 1920;
$img-directory: '../images/';
$icon-dir: 'icons/';
$large-width: '1600px';
$before-laptop-width: '1500px';
$laptop-width: '1367px';
$fix-before-mobile-width: '1300px';
$mobile-width: '1200px';
$mobile-max-width: '1199px';
$mobile-width-xlarge: '1000px';
$mobile-width-large: '800px';
$mobile-width-medium: '600px';
$mobile-width-small: '450px';

//font family
$theme-font-family-1: 'Work Sans';
$theme-font-family-2: sans-serif;
$theme-font-family-3: Arial;

//borders
$theme-border-1: 1px solid #000000;//not used yet

$Sans: $theme-font-family-1,
$theme-font-family-2,
$theme-font-family-3;

//spacing
$site-margin: 4.2%;
$site-margin-mobile: 6.5%;


//Media Quieries

$mobile-ss: 320px; //h:480 ar: 2:3
$mobile-sm: 480px; //h:800 ar: 3:5
$mobile-sl: 540px; //h:960 ar: 9:16
$mobile-ms: 600px; //h:1024 ar: 75:128
$mobile-mm: 640px; //h:1136 ar: 40:71
$mobile-ml: 720px; //h:1280 ar: 16:9
$mobile-ls: 750px; //h:1334 ar: 9:16
$mobile-lm: 768px; //h:1024 ar: 3:4
$mobile-ll: 800px; //h:1280 ar: 5:8
$mobile-xls: 828px; //h:1792 ar: 19.5:9
$mobile-xlm: 854px; //h:480 ar: 16:9
$mobile-xll: 900px; //h:1600 ar: 5:8
$mobile-xxls: 960px; //h:540 ar: 16:9
$mobile-xxlm: 1024px; //h:600 ar: 5:8
$mobile-xxll: 1080px; //h:1920 ar:

%flex-parent-column{
	display: flex;
	flex-direction: row;
}
%flex-parent-row{
	display: flex;
	flex-direction: column;
}

%border-container{
	background-color: $theme-color-2;
	padding: 50px 45px;
	//margin-bottom: 48px;
	@include border-radius(16px);

	&:last-of-type{
		margin-bottom: 0;
	}
	@media screen and (max-width: $mobile-width-large) {
		padding: 20px;
	}
}