
/***** Buttons *****/
.btn{
	text-align: center;
	width: 100%;
	max-width: 259px;
	height: 59px;
	line-height: 59px;
	outline: none!important;

	&.btn-grey{
		background-color: $theme-color-3;
		color: $theme-color-2;
		line-height: 59px;
		padding: 0;
		margin-bottom: 11px;
		@include border-radius(0);

		&:hover{
			color: $theme-color-2;
		}
	}
	&.btn-white{
		background-color: $theme-color-2;
		color: $theme-color-1;
		line-height: 59px;
		padding: 0;
		@include border-radius(0);
	}
	&.btn-bordered{
		border: 1px solid $theme-color-4;
		line-height: 59px;
		padding: 0;
		@include border-radius(0);
	}
}
.btn-container{
	a{
		display: block;
	}
}
.lost-password{
	margin-top: 40px;
	font-size: 16px;
	line-height: 21px;
	text-decoration: underline;
	color: $theme-color-1;
}

.close-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 98;
}

/***** Container Layout *****/
.content-index .hero + .outer-container{
	position: relative;

	.side-nav{
		position: absolute;
	}
}
.outer-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	min-height: 100vh;
	height: auto;
	overflow-x: hidden;
	background-color: $theme-color-9;

	.content-copy{
		padding-top: 25px;

		.col-xs-12{
			padding-left: 0;
			padding-right: 0;
		}
		.col-xs-4{
			padding-left: 0;
		}
	}

	@media screen and (max-width: 800px) {
		.content-copy{
			padding-top: 60px;
		}
	}
}
.main-copy-holder{
	position: relative;
	width: 77%;
	padding: $top-padding 9% 30px 10%;
	background-color: $theme-color-9;

	&.vertical-center{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 6% 0 6%;
		justify-content: center;
	}
	.main_content{
		width: auto;

		.content ul {
			margin-bottom: 20px;
			margin-left: 20px;
		}
	}
	.row{
		margin-left: 0;
		margin-right: 0;
	}

	@media screen and (max-width: $laptop-width) {
		padding: $top-padding 5% 30px 5%;
	}
	@media screen and (max-width: $mobile-width) {

		&.vertical-center{
			justify-content: flex-start;
			padding: $top-padding 6% 0 6%;
		}
		.row{
			margin-left: 0;
			margin-right: 0;
		}
	}
	@media screen and (max-width: $mobile-width-large) {
		padding: $top-padding-mobile 5% 30px 5%;
		width: 100%!important;

		&.vertical-center{
			justify-content: flex-start;
			padding: $top-padding-mobile 6% 0 6%;
		}
	}
}
.grey-body{
	background-color: $theme-color-9;
}

/***** Side Navigation *****/
.side-nav{
	background-color: $theme-color-7;
	min-width: 307px;
	width: 23%;
	position: fixed;
	z-index: 2;
	overflow: auto;
	left: 0;
	height: 100%;

	&.open{
		overflow: hidden;
	}
	ul{
		padding: $top-padding 20px 50px 35px;
		position: relative;
		top: 0;
	}
	.nav-item{
		border-bottom: 1px solid $theme-color-6;
		font-family: 'AudiType-Normal', sans-serif;

		h2{
			margin-left: -10px;
		}
		h2, a{
			display: block;
			padding: 12px 10px 7px 0;
			margin-top: 0;
			margin-bottom: 0;
			font-family: 'AudiType-Normal', sans-serif;
		}
		a{
			display: block;
		}

		&:last-of-type{
			border-bottom: none;
		}
	}
	.sub-nav{
		position: relative;

		&:after{
			content: "";
			position: absolute;
			top: 19.5px;
			right: 0;
			width: 11px;
			height: 11px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url("images/right-arrow-black.png");
			@include transition(all, 500ms);
			@include translate(0,-50%);
		}

		&.open-nav-item{
			&:after{
				background-image: url("images/right-arrow-down.png");
			}
			> ul{
				@include transition(all, 500ms);
				height: auto;
			}
		}
		a{
			display: inline-block;
			text-decoration: none;
		}
		ul {
			height: 0;
			overflow: hidden;
			padding: 0;

			li {
				margin-bottom: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
				border-bottom: 1px solid $theme-color-6;

				&:first-of-type{
					padding-top: 10px;
				}
				&:last-of-type{
					border-bottom: none;
					margin-bottom: 10px;
				}

				a{
					padding: 0;
				}
			}
		}
	}
	.nav-btns{
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;

		&.close-btn{
			@include background('images/close-btn.png', no-repeat, center center, contain );

			&:after{
				display: block;
				/*content: "Close";*/
				font-weight: bold;
				width: 60px;
				font-size: 14px;
				line-height: 14px;
				color: $theme-color-5;
				position: relative;
				top: 0;
				right: 40px;
				margin: 2px 40px 0 0;
			}
		}
		&.open-btn{
			top: 60px;
			right: -50px;
			width: 32px;
			height: 32px;
			@include background('images/burger-menu.png', no-repeat, center center, contain );
			background-color: $theme-color-2;
		}
	}

	@media screen and (max-width: $mobile-width-large) {
		min-width: 250px;
		position: fixed;
		height: 100vh;
		top: 0;
		left: -80%;
		width: 80%;
		overflow: visible;
		@include transition(all, 300ms);
		z-index: 99;

		ul{
			padding-top: $top-padding-mobile;
		}
		.nav-btns {
			display: block;
			top: 57px;
		}
		&.open{
			left: 0;
			overflow: auto;

			.nav-btns.open-btn{
				@include opacity();
				display: none;
			}
		}
		.audi-logo{
			margin: 50px 20px 20px 20px;
		}
	}
}

/***** Search Bar *****/
.search-bar-holder {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 50px;
	position: absolute;
	top: 36px;
	left: 13%;

	.search-bar {
		width: 277px;
	}
	.is-form-style input.is-search-input{
		border: none!important;
		border-bottom: 1px solid $theme-color-6!important;
		background-color: transparent;
	}
	.is-form-style button.is-search-submit{
		.is-search-icon{
			background: transparent!important;
			border: none!important;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.is-form-style input.is-search-input{
		padding: 0 12px 0 40px;
	}


	@media screen and (max-width: $laptop-width) {
		/*padding: $top-padding 5% 30px 5%;*/
		left: 7%;
	}
	@media screen and (max-width: $mobile-width-large) {
		position: relative;
		top: 0;
		right: auto;
		width: auto;
		left: 0;

		.search-bar {
			width: 100%;
		}
	}
}
/***** Logo *****/
.audi-logo{
	display: block;
	width: 100px;
	margin: 20px;
}

/***** Category & Campaigns *****/
.campaigns-holder{
	display: block;

	.campaign .owl-carousel .inner-cont{
		margin-bottom: 0;
	}
	.campaign .owl-carousel {
		position: relative;

		.owl-item{
			//width: 160px!important;
		}
		.owl-dots {
			display: none;
		}
		.owl-nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: absolute;
			/*top: 9px;*/
			top: 50%;
			@include translate(0, -50%);


			width: 100%;

			button{
				width: 24px;
				height: 24px;

				>*{
					display: none;
				}
				&.owl-prev{
					margin-left: -60px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
					background-image: url("images/left-arrow.png");
				}
				&.owl-next{
					margin-right: -60px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
					background-image: url("images/right-arrow.png");
				}
				&.disabled{
					@include opacity(0);
				}
			}
		}
	}
	&.gallery-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		.gallery{
			float: none;
			margin: 0 10px 10px 0;
			width: 180px;

			a{
				display: block;
				//min-height: 135px;
				//max-height: 135px;
				overflow: hidden;
				@include background('images/default.png', no-repeat, center center, cover);
			}
			img{
				width: 100% !important;
				max-width: unset;
				height: auto !important;
				@include opacity();
			}
			.desc{
				padding: 5px;
			}
		}

	}

	@media screen and (max-width: $laptop-width) {
		.campaign .owl-carousel {
			.owl-nav{
				button {
					&.owl-prev {
						margin-left: -40px;
					}

					&.owl-next {
						margin-right: -40px;
					}
				}
			}
		}
	}
	@media screen and (max-width: $mobile-width-xlarge) {
		&.gallery-container{
			justify-content: space-around;
		}
	}
	@media screen and (max-width: $mobile-width-large) {
		.campaign .owl-carousel {
			.owl-stage{
				padding-left: 0!important;
			}
			.owl-nav button {
				display: none;

				&.owl-prev {
					margin-left: -30px;
				}

				&.owl-next {
					margin-right: -30px;
				}
			}
		}
	}
	@media screen and (max-width: $mobile-width-small) {
		&.gallery-container .gallery {
			width: 100%;

			a {
				width: 100%;
				max-height: unset;
				min-height: unset;

				img{
					@include opacity(1);
				}
			}
		}
	}
}
.campaign{
	display: block;

	.category{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 64px;

		&:last-of-type{
			margin-bottom: 0;
		}
		.inner-cont{
			//width: 160px;
			padding: 0 20px 20px 0;

			img{
				width: 100% !important;
				max-width: unset;
				height: auto !important;
				//@include opacity();
			}
			a:first-of-type{
				display: block;
				//min-height: 135px;
				//max-height: 135px;

				overflow: hidden;
				@include background('images/default.png', no-repeat, center center, cover);
				margin-bottom: 16px;

				background-image: none!important;
			}
			a:nth-of-type(2){
				min-height: 35px;
				display: block;
			}
			p, a{
				margin: 0;
				font-size: 12px;
				line-height: 18px;

				&.copy-page{
					margin-bottom: 12px;
				}
			}

		}
	}
	@media screen and (max-width: $laptop-width) {
		.category .inner-cont {
			width: auto;
		}
	}

	@media screen and (max-width: $mobile-width-large) {
		.category .inner-cont {
			width: 100%;
			padding-right: 0;

			a {
				width: 100%;
				max-height: unset!important;
				min-height: unset!important;
				margin-bottom: 16px;

				img{
					@include opacity(1);
					margin-bottom: 0;
				}
			}
		}
	}
}

.intro{
	vertical-align: top;
	margin-bottom: 43px;

	.page-tittle{
		display: block;
		margin-top: 0;
		margin-bottom: 12px;
	}
	a{
		display: inline-block;
		padding: 5px 25px;
		font-size: 12px;
		line-height: 16px;
		color: $theme-color-1;

		&:first-of-type{
			padding-left: 0;
		}
		&:hover{
			color: $theme-color-1;
		}
	}
}

/***** Login container *****/
.login-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	/*>div{
		height: 100vh;
	}*/

	.tittle{
		margin: 0 0 47px;
	}
	.sub-tittle{
		margin: 0 0 8px;
	}
	.input-container{
		label,
		&[class*="login-"]{
			display: block;
		}
		&.login-password,
		&.login-username{
			margin-bottom: 53px;
			width: 100%;

			input{
				background: transparent;
				border: none;
				border-bottom: 1px solid $theme-color-8;
				padding-bottom: 3px;
				font-size: 18px;
				line-height: 24px;
				outline: none;
				width: 100%;
				max-width: 260px;
			}
		}
		&.checkmark, &.login-remember{
			margin-bottom: 22px;
			width: 100%;
			position: relative;

			label{
				display: inline-block;
				padding-left: 40px;
				font-size: 16px;
				line-height: 21px;
				text-align: left;
				margin: 0;
				font-weight: 400;
			}
			input{
				width: 100%;
				height: 100%;
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				background: transparent;
				border: none;
				outline: none;
				@include opacity();
			}
			input[type='checkbox'] + label{
				background-image: url("./images/checkbox.png");
				background-repeat: no-repeat;
				background-position: top left;
				background-size: 23px 23px;
				line-height: 24px;
			}
			input[type='checkbox']:checked + label{
				background-image: url("./images/checkbox-checked.png");
				background-repeat: no-repeat;
				background-position: top left;
				background-size: 23px 23px;
				line-height: 24px;
			}
		}
		&.login-remember label{
			text-decoration: none;
		}
		.inp.errorState{
			input[type='checkbox'], input[type='checkbox'] + label, + a, label{
				color: red!important;
			}
		}
		.inp, a{
			position: relative;
			display: inline-block;
		}
		.inp + a{
			font-size: 16px;
			line-height: 21px;
			font-weight: 400;
			color: $theme-color-1;
			text-align: left;
			text-decoration: underline;
		}
	}
	.btn-container{
		margin-top: 38px;
	}
	@media screen and (max-width: $mobile-width-medium) {
		.btn-container .btn{
			max-width: unset;
		}

		.input-container{
			&.login-password,
			&.login-username{

				input{
					width: 100%;
					max-width: unset;
				}
			}
		}
	}
	@media screen and (max-width: $mobile-width-large) {
		.copy-container{
			height: auto;
			padding: 40px;
		}
	}
}

/***** graphic container *****/
.copy-container{
	padding: 110px 140px 0;

	@media screen and (max-width: $laptop-width) {
		padding: 50px 90px 50px;
	}
	@media screen and (max-width: $mobile-width) {
		padding: 50px 90px 50px;
	}
	@media screen and (max-width: $mobile-width-large) {
		padding: 40px 40px 0;
		height: auto;
	}
	@media screen and (max-width: $mobile-width-medium) {
		width: 100%;
	}
}

/***** graphic container *****/
.graphic-container{
	@include background('', no-repeat, center center, cover);
	height: 100vh;

	@media screen and (max-width: $laptop-width) {

	}
	@media screen and (max-width: $mobile-width-medium) {
		display: none;
	}
}

/***** Register form *****/
.registration{
	max-width: 550px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding-bottom: 90px;

	&:after{
		@include clear-fix;
	}

	@media screen and (max-width: $mobile-width-medium) {
		padding-top: 40px;
	}
}
.registration-form{
	padding: 90px 0 0;

	p{
		margin: 0;
	}
	.rmagic .rmheader{
		display: none;
	}
	*,.rmfield,.rmfieldset, .rminput,.rmrow, .rmagic .rmcontent form fieldset {
		padding: 0;
		margin: 0;
		min-height: unset;
	}
	.rmfield,.rminput{
		display: block;
	}
	.rmagic,
	.rmfield, .rminput,
	.rmagic .rmrow .rminput select,
	.rmagic .rmrow .rminput input[type="text"],
	.rmagic .rmrow .rminput input[type="password"],
	.rmagic .rmrow .rminput input[type="email"],
	.rmagic .rmrow .rminput input[type="url"],
	.rmagic .rmrow .rminput input[type="number"],
	.rmagic .rmrow .rminput textarea,
	.rmagic form.rmagic-form{
		max-width: unset;
		min-height: unset;
		float: none;
		width: auto;
	}
	.rmagic .rmrow .rminput{
		width: 100%;

		input[type="text"],input[type="email"], select{
			width: 100%;
			outline: none;
			border: none;
			border-bottom: 1px solid $theme-color-8;
			font-size: 18px;
			line-height: 24px;
			color: $theme-color-8;
			background: none;
			@include place-holder($theme-color-8, 18px, 24px);
		}
	}
	.rmagic .rmrow .rmfield label{
		margin-bottom: 7px;
		font-size: 18px;
		line-height: 24px;
		font-weight: normal;
		color: $theme-color-8;
	}
	.rmagic .rmrow{
		max-width: unset;
		min-height: unset;
		width: 50%;
		margin-bottom: 50px;
		padding-right: 35px;
	}
	.rm_next_btn.rm-btn.rm-btn-primary{
		@extend .btn;
		@extend .btn.btn-grey;
		outline: none;
		max-width: 240px;
		border: none;
	}
	.rmagic .buttonarea{
		float: none;
		margin: 20px 0;
		padding-right: 20px;
		text-align: right!important;
	}

	@media screen and (max-width: $mobile-width-medium) {
		padding-top: 40px;

		.rm_next_btn.rm-btn.rm-btn-primary{
			max-width: unset;
		}
		.rmagic .rmrow{
			width: 100%;
			padding-right: 0;
			margin: 0 0 30px;
		}
		.rmagic .buttonarea{
			padding-right: 0;
		}
	}
}

/***** Featured Items*****/
.featured-item-container{

	.featured-item{

		.feature-copy{

		}
		.feature-image{
			background-color: transparent;

			&.white-bg{
				background-color: $theme-color-2;
			}
		}
	}
}

/****** SUBSCRIBE ******/
.subscribe-title{
	display: none;
}
.subscribe-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.subscribe-copy-holder {
	padding: 40px 0;
	margin-right: 100px;
	width: 260px;

	@media screen and (max-width: $mobile-max-width) {
		margin-right: 0;
		width: auto;
	}
}
.subscribe-copy-holder, div.wpforms-container-full .wpforms-form,div.wpforms-container-full .wpforms-form {
	.wpforms-field-label{
		font-size: 26px!important;
		line-height: 30px!important;
		margin: 0 0 23px 0!important;
	}
	button{
		margin: 33px 0 0!important;
		padding: 0!important;
		@extend .btn;
		@extend .btn.btn-white;
		background-color: $theme-color-2!important;
	}
	div.wpforms-container-full .wpforms-form{
		.choice-1.depth-1{
			position: relative;
		}
		input[type='checkbox'] + label{
			display: inline-block;
			padding-left: 40px;
			font-size: 16px;
			line-height: 24px;
			text-align: left;
			margin: 0;
			font-weight: 400;
		}
		input[type='checkbox']{
			width: 100%;
			height: 100%;
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			border: none;
			outline: none;
			@include opacity();
		}
		input[type='checkbox'] + label{
			background-image: url("./images/checkbox.png");
			background-repeat: no-repeat;
			background-position: top left;
			background-size: 23px 23px;
			line-height: 24px;
		}
		input[type='checkbox']:checked + label{
			background-image: url("./images/checkbox-checked.png");
			background-repeat: no-repeat;
			background-position: top left;
			background-size: 23px 23px;
			line-height: 24px;
		}
	}


	@media screen and (max-width: $mobile-max-width) {
		div.wpforms-container-full .wpforms-form input[type=submit],
		div.wpforms-container-full .wpforms-form button[type=submit],
		div.wpforms-container-full .wpforms-form .wpforms-page-button{
			max-width: unset;
		}
	}
}
.subscribe-image-container{
	max-width: 444px;
	width: 100%;

	img{
		width: 100%;
		height: auto;
		max-height: 364px;
	}
	@media screen and (max-width: $mobile-width-xlarge) {
		padding-left: 0;
	}

}

/***** Index *****/
.content-index{
	.hero{
		margin: 0 auto;
		background-size: cover;
		background-color: #FBFBFB;

		img{
			visibility: unset!important;
		}
	}

}
.page-menu{
	.off-canvas-menu{
		width: auto;
		float: none;
		padding: 0;
		background-color: transparent;

		&.fixed{
			position: static;
			top: unset;
			margin: 0;
		}
		.menu {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;

			li, li a{
				display: block;
				margin: 0;
				color: $theme-color-1;
				padding: 0;
				border: none;
			}

			li {
				&:first-of-type a{
					padding-left: 0;
				}
				&:hover a {
					text-decoration: underline;
				}
				a {
					padding: 0 30px 10px 0;

				}
			}
		}
		.last,.first{
			background-image: none;
		}
	}
	@media screen and (max-width: 1160px) {
		.off-canvas-menu{
			width: auto;
			 position: static;
			 left: unset;
			 top: unset;
			 height: auto;
		}
	}
}
div.is-ajax-search-details, div.is-ajax-search-result{
	padding: 0!important;
	background-color: $theme-color-9!important;

	.is-ajax-search-items>div, .is-ajax-search-post{
		background-color: transparent;
	}
}