/*
Theme Name: Audi Campaign Theme
Theme URI: http://lynda.com
Description: Custom made template used for responsive design
Author: Riyaadh Fakier
Version: 1.0
*/

/*custom Audi fonts*/
@font-face {
    font-family: 'AudiType-ExtendedBold';
    src: url('fonts/AudiType-ExtendedBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/AudiType-ExtendedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/AudiType-ExtendedBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/AudiType-ExtendedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/AudiType-ExtendedBold.svg?svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'AudiType-Normal';
    src: url('fonts/AudiType-Normal.eot'); /* IE9 Compat Modes */
    src: url('fonts/AudiType-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/AudiType-Normal.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/AudiType-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/AudiType-Normal.svg?svgFontName') format('svg'); /* Legacy iOS */
}

html{
    margin: 0;
}

body{
    padding-left: 0!important;
    padding-right: 0!important;
}

/*body:after {
  content: url('images/icon.jpg') none;
  }*/

img {
    max-width: 100%;
    vertical-align: middle;
}


.site-logo{
    /*margin: 10px auto;*/
    padding: 15px 0;
    text-align: right;
}

.site-logo img {
    max-width: 60%;
}

.hero {
    width: 100%;
    margin: 0 auto 50px;
}

.hero img {
    max-width: 100%;
    width: 100%;
}

/*header image background for various campaigns*/

.audismart-service{
    background-image: url('images/AudiSmart-1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.audi-a4-a5-campaign-2018 {
    background-image: url('images/a4-a5-campaign-hpb-2018.jpg'); /*('http://dealerhub.audi.co.za/wp-content/uploads/2018/07/a4-a5-campaign-hpb-2018.jpg')*/
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.audi-freeway-plan-extension{
    background-image: url('images/header-freeway.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.capped-service-campaign{

    background-image: url('http://dealerhub.audi.co.za/wp-content/uploads/2017/11/Service-Capped-Campaign-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.audi_tt_campaign{
    background-image: url('images/header-tt.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.audi-a6-campaign {
    background-image: url('images/a6-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.q2-retail-offer {
    background-image: url('images/q2-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.a1-pi	{
    background-image: url('images/a1-pi.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.q3-pi	{
    background-image: url('images/q3-2015.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.audi_q7_campaign {
    background-image: url('images/q7-headr-image.gif');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-service-campaign {
    background-image: url('images/audi-service-campaign.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi_a1 {
    background-image: url('images/a1-pi.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi_end_of_season_sale {
    background-image: url('images/end-of-sale.jpg');
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
    background-position: center 70%;
}

.audi_a4_sport_edition_plus {
    background-image: url('images/audi-s4-sport-edition-plus.jpg');
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
    background-position: center 70%;
}

.audi_a4_campaign {
    background-image: url('images/all-new-a4_campaign.jpg');
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
    background-position: center 70%;
}

.q1_2016_update {
    background-image: url('images/r8.jpg');
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
    background-position: center 70%;
}

.audi_sport_campaign {
    background-image: url('images/Combined-Sport-Dealer-Hub-HPB_Range.jpg');
    max-width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
    background-position: center 70%;
}

.csi-elements {
    background-image: url('images/CSI-CEE-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi_retail_campaign_august_2016 {
    background-image: url('images/audi_retail_campaign_august_2016.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.wayde-van-niekerk-av {
    background-image: url('images/wayde-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi_a3_pi_launch {
    background-image: url('images/audi-a3-pi-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-pre-owned-retail-campaign {
    background-image: url('../../uploads/2016/10/retail-campaign-dealer-suite/hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.holiday-check-festive-campaign {
    background-image: url('images/holiday-check-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-q2-launch-campaign {
    background-image: url('images/audi-q2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.cricket-incentive {
    background-image: url('images/aga-cricket.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.all-new-audi-a5-launch-campaign {
    background-image: url('images/audi-a5-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.all-new-audi-q5-launch-campaign {
    background-image: url('images/audi-q5-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-winter-campaign {
    background-image: url('images/aga-winter-campaign.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.new-audi-dealer-ci {
    background-image: url('images/audi-ci-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.all-new-r8-spyder {
    background-image: url('images/r8-spyder.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.business-process-alignment {
    background-image: url('images/business-process-alignment.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-a5-retail-campaign {
    background-image: url('images/a5-retail-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-genuine-accessories-q5 {
    background-image: url('images/audi-q5-genuine-accessories.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.naming-designation-campaign {
    background-image: url('images/Dealer-Hub-HPB_1920x600_5NOV.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.long-weekend-campaign-2019  {
    background-image: url('images/Long-Weekend_HPB-Dealer-Hub_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.q8-launch-teaser-elements-2019 {
    background-image: url('images/HPB_Q8_still.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-black-edition-retail-campaign {
    background-image: url('images/Audi-Black-Edition-Dealer-Hub-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.q8-launch-campaign {
    background-image: url('images/Q8_Dealer-Hub-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-freeway-plan-campaign-2019 {
    background-image: url('images/AFP-HPB_1920x735_27May_2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.holiday-check-campaign_nov_2019 {
    background-image: url('images/Nov_Dec_Holiday-Check_HPB-Dealer-Hub_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-long-weekend-campaign-nov-dec-2019  {
    background-image: url('images/Long-Weekend_HPB-Dealer-Hub_Nov-Dec_2019.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.q-range-retail-campaign-2020 {
    background-image: url('images/Q-Campaign-HPB-1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.covid19-dealer-content-2020 {
    background-image: url('images/covid19-dealer-content2-2020.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-forward-together-retail-campaign-2020{
    background-image: url('images/Dealer-Hub-HPB_1920x735_11June.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-product-videos {
    background-image: url('images/audi-a6-videos.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audismart-service-2020-audi_after_sales {
    background-image: url('images/dealerhub-banner-29june.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.a4-pre-launch-campaign  {
    background-image: url('images/A4-Pre-Dealer-Hub-HPB_1920x735_1Sep.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.progressive-finance-retail-campaign  {
    background-image: url('images/Dealer-Hub-HPB_1920x735_Revised.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.future-is-an-attitude-a4  {
    background-image: url('images/FIAA-A4_Hub-HPB_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-getaway-campaign-agp-quality-check-campaign-2020  {
    background-image: url('images/quality-check-hpb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.pre-owned-campaign-forever-audi {
    background-image: url('images/PreOwned_Dealer-Hub-HPB_1920x735_4.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.drive-for-tomorrow-retail-campaign {
    background-image: url('images/new-hpb-for-dealer-hub-page.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-retail-campaign {
    background-image: url('images/AGA_Dealer-Hub-HPB_1920x735_11FEB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.performance-is-an-attitude-2021-rs-launch-campaign {
    background-image: url('images/New-R8-Dealer-Hub-image-1920x735.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.quality-check-2021-quarter-1 {
    background-image: url('images/check-quality-hpb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-brand-campaign-2021-quarter-1 {
    background-image: url('images/AGA-Dealer-Hub-1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-retail-quarter-2-2021 {
    background-image: url('images/new-AGA-Dealer-Hub-1920x735.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-imagery-audi_after_sales {
    background-image: url('images/aga-imagery-header-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.a3-sportback-sedan-launch-2021-audi_marketing_and_communications {
    background-image: url('images/dealer-site-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audi-freeway-plan-campaign-2021 {
    background-image: url('images/45400_Dealerhub_AFP_1920 x 735_V4.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.q5-pi-q5-sportback-launch {
    background-image: url('images/q5-pi-q5-campaign-launch-image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.pre-owned-q4-launch {
    background-image: url('images/HPB_DealerHub_Q4.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-retail-q4-campaign {
    background-image: url('images/DealerHub_1920x735-new.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
/*Post Styling*/

.audi-sport > .col-md-4{
    text-align: center;
    border: 1px solid #efefef;
    padding: 15px 0;
    margin: 0;
}

.audi-lifestyle-templates {
    background-image: url('images/AOZ_Q3_P_141002.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.audi-lifestyle-templates-2 {
    text-align: center;
    border: 1px solid #efefef;
    padding: 15px 0;
    margin: 0;
}

.all-new-r8-spyder-launch {
    background-image: url('images/r8-spyder.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-genuine-accessories-brochure {
    background-image: url('images/aga.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-a3_a4-retail-offer {
    background-image: url('images/A3 A4 Dealer hub hpb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.audi-a4-executive-package {
    background-image: url('images/a4-dealer-lifecycle-hpb-dealer-hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}



.demo-sale {
    background-image: url('images/a3-dealer-hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.s4-retail-campaign {
    background-image: url('images/audi_s4_hpb_dealer_hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.audi-a3-a4-november-december-retails-offer {
    background-image: url('images/a3_dealer_hub_hPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-sport-range {
    background-image: url('images/audi_sport_league_hpb_V2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.the-summer-of-audi-sale-q-models {
    background-image: url('images/SOAS_Dealer_Hub_HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.a1-and-a4-package-2017-campaign {
    background-image: url('images/Audi-A1-&-A4-Package_HPB-1920x735_28NOV.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-rs-3-sedan {
    background-image: url('images/Audi-RS-3-Sedan-HPB-1920-x-735_30NOV_Dealer Hub HPB.JPG');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-tt-rs-coupe {
    background-image: url('images/Audi-TTRS-Coupe-HPB-1920-x-735_29NOV.JPG');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-group-parts-brochure {
    background-image: url('images/Audi-AGP-Digital-Brochure_Dealer-Hub-HPB_option-3.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-holiday-campaign {
    background-image: url('images/AGA-Holiday-Dealer-Hub-HPB_Revised.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-rs-5-coupe  {
    background-image: url('images/RS5 Coupe Dealer Hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-rs-3-sportback {
    background-image: url('images/Audi-RS-3-Sportback-DealerHub_HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-easter-campaign  {
    background-image: url('images/5541-AGA-Easter_HPB-Dealer-Hub.JPG');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.entry-lights  {
    background-image: url('images/2018-Entry-Lights_HPB-Dealer-Hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.q5-car-of-the-year  {
    background-image: url('images/2018-q5-Dealer-Hub-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-a1-urban-sport-edition {
    background-image: url('images/A1-HPB_Revised.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-long-weekend-audi_after_sales {
    background-image: url('images/AGA-Long-Weekend_HPB-Dealer-Hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-q7-executive-edition-package {
    background-image: url('images/Q7Lifecycle Dealer Hub HPB.JPG');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-q-model-campaign-2018 {
    background-image: url('images/Q-Range Dealer Hub HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-communication {
    background-image: url('images/Audi-AGA-Communication-Campaign_HPB-min.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.entry-lights  {
    background-image: url('images/2018-Entry-Lights_HPB-Dealer-Hub.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-winter-family-campaign  {
    background-image: url('images/Winter-Family-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-freeway-plan-extension-2018 {
    background-image: url('images/HPB-AFP-20-July.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audi-entry-lights {
    background-image: url('images/3838-Entry-Lights_HPB-Dealer.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.festival-of-motoring-2018-tvc {
    background-image: url('images/FOM HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.aga-adventure-campaign {
    background-image: url('images/AGA Adventure HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.universal-traffic-recorder {
    background-image: url('images/7508-Aftersales-UTR-HPB_1400x438_option2 AGA ON RIGHT.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.holiday-check-campaign-2019 {
    background-image: url('images/Holiday-Check_HPB-Dealer-Hub_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.rs-4-avant-campaign-2019 {
    background-image: url('images/Dealer-Hub_rs4_avant.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;

}

.rs-5-sportback-campaign-2019  {
    background-image: url('images/Dealer-Hub_rs5_sportback.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;

}
.q7-retail-campaign-2019 {
    background-image: url('images/Q7_Dealer-Hub-HPB_1920x735_Final.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;

}

.a1-q3-launch-campaign-2019 {
    background-image: url('images/Dealer-Hub-HPB-1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audi-tt-pi-campaign-2019 {
    background-image: url('images/Dealer-Hub-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.a4-sedan-a3-sedan-retail-campaign {
    background-image: url('images/A4_A3Sedan_2019.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.a7-sportback-launch-campaign-2019 {
    background-image: url('images/A7_20_Dec_Dealer-Hub-HPB_1920x735_revised.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.a6-launch-campaign-2019 {
    background-image: url('images/A6_NOV_Dealer-Hub-HPB_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.universal-traffic-recorder_2020 {
    background-image: url('images/UTR-HPB_1920x735_29Jan-Option-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.aga-long-weekend-march-2020 {
    background-image: url('images/Long-Weekend_HPB-Dealer-Hub_2020.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.holiday-check-march-2020 {
    background-image: url('images/Holiday-Check_HPB-Dealer-Hub_2020.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.covid19-dealer-content-2020 {
    background-image: url('images/covid19-dealer-content2-2020.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.model-images-2020  {
    background-image: url('images/R805.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.covid-19-communication-templates  {
    background-image: url('images/recovery-plan-2020.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-freeway-plan-campaign-extention-due-to-covid19 {
    background-image: url('images/AFP-HPB_1920x735_27May_2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-pre-owned-june-2020-family-is-forever {
    background-image: url('images/1920x735-Banner-Pack-1-Static.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.forward-together-retail-campaign-2020 {
    background-image: url('images/Dealer-Hub-HPB_1920x735_11June.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.product-videos {
    background-image: url('images/audi-a6-videos.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audismart-service-2020-audi_after_sales {
    background-image: url('images/dealerhub-banner-29june.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.q3-sportback-campaign-2020 {
    background-image: url('images/Q3_HPB-Dealer-Hub_1920x735-V2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-connect-campaign {
    background-image: url('images/Audi-Connect_Dealer-Hub-HPB_1920x735_28Aug.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.a4-pre-launch-campaign  {
    background-image: url('images/Dealer-Hub-HPB_1920x735_11Sep.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audi-wayde-van-niekerk-lane8-campaign  {
    background-image: url('images/Lane8.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.email-signatures{
    background-image: url('images/1920x735_15Sep.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.progressive-finance-retail-campaign  {
    background-image: url('images/Dealer-Hub-HPB_1920x735_Revised.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.future-is-an-attitude-a4  {
    background-image: url('images/FIAA-A4_Hub-HPB_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.lifestyle-imagery  {
    background-image: url('images/AUDI_Brandcampaign_People_HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-q7-sq7-launch-campaign  {
    background-image: url('images/Q7-dealerHub-HPB-1920x735-17-11.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-getaway-campaign-agp-quality-check-campaign-2020  {
    background-image: url('images/quality-check-hpb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


.future-is-an-attitude-a5  {
    background-image: url('images/A5_Dealer-Hub-HPB_1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.tt-rs-campaign {
    background-image: url('images/Audi TT RS-Dealer hub-1920x735_2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.s7-sportback-campaign {
    background-image: url('images/S7- dealerHub-HPB-1920x735.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.drive-for-tomorrow-retail-campaign {
    background-image: url('images/new-hpb-for-dealer-hub-page.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-retail-campaign {
    background-image: url('images/AGA_Dealer-Hub-HPB_1920x735_11FEB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-freeway-plan-extension-refreshed-material {
    background-image: url('images/AFP-Dealer-Hub-HPB_1920x735_19FEB_option-2_1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.performance-is-an-attitude-2021-rs-launch-campaign {
    background-image: url('images/New-R8-Dealer-Hub-image-1920x735.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.quality-check-2021-quarter-1 {
    background-image: url('images/check-quality-hpb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.aga-brand-campaign-2021-quarter-1 {
    background-image: url('images/AGA-Dealer-Hub-1920x735.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.audi-e-tron {
    background-image: url('images/e-tron-header.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.q2-pi-launch-campaign-2021 {
    background-image: url('images/41798---FEE-Q2-Launch-HPB-1400x438_.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.pre-owned-campaign-2021 {
    background-image: url('images/pre-owned-DealerHub_1920x735.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-retail-quarter-2-2021 {
    background-image: url('images/new-AGA-Dealer-Hub-1920x735.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-imagery-audi_after_sales {
    background-image: url('images/aga-imagery-header-image.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.a3-sportback-sedan-launch-2021-audi_marketing_and_communications {
    background-image: url('images/dealer-site-HPB.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.audi-freeway-plan-campaign-2021 {
    background-image: url('images/45400_Dealerhub_AFP_1920 x 735_V4.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.q5-pi-q5-sportback-launch {
    background-image: url('images/q5-pi-q5-campaign-launch-image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}
.aga-retail-q4-campaign {
    background-image: url('images/DealerHub_1920x735-new.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

/*Post Styling*/



/*main menu styling*/

.off-canvas-menu {
    width: 280px;
    float: left;
    margin: 0;
    padding: 15px;
    font-family: 'AudiType-Normal', sans-serif;
    background: rgba(255,255,255,.95);
}

.off-canvas-menu .menu {
    margin: 0;
    padding: 0;
}

.off-canvas-menu .menu li {
    margin: 0;
    /*padding-left: 10px;*/
    list-style: none;
    border-bottom: 1px solid #c1c1c1;
}

.off-canvas-menu .menu li ul {
    margin: 0;
    padding: 0 0 0 20px;
    border-top: 1px solid #c1c1c1;
}

.off-canvas-menu .menu li ul li:last-child {
    border-top: none;
}

.off-canvas-menu .menu li ul li {
    list-style: disc;
    margin-left: 0;
}

.off-canvas-menu .menu li ul li ul li {
    list-style: circle;
    margin-left: 0;
    color: #efefef;
}

.off-canvas-menu .menu li ul li a {
    font-size: 14px;
    color: #efefef;
}

.off-canvas-menu .menu li a {
    display: block;
    margin: 0;
    color: #7f7f7f;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.off-canvas-menu .menu li a:hover {
    text-decoration: none;
    color: #000;
}

.nav-placeholder{
    /*margin-top: 50px;
    float: left;*/
}

/*menu open and close icon*/
.open-panel , .close-panel{
    background-image: url('images/icon.jpg');
    background-repeat: no-repeat;
    height: 18px;
}

/*class is added with js to stick nav to top*/
.fixed {
    position: fixed;
    top:0;
    margin-top: 25px;
}

.hide {
    display: none !important;
}

/*main menu styling*/


/*.off-canvas-menu ul {
  padding-left: 10px;
  margin-top: 0;
  margin-left: 10px;
}

.off-canvas-menu li {
  list-style-type: none;
  border-bottom:1px solid #c1c1c1;
  display: table;
  padding: 10px;
  font-family: 'AudiType-Normal', sans-serif;
}

.off-canvas-menu a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
  display: block;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  }*/

.off-canvas-menu a:hover {
    text-decoration: none;
    color: #000;
}
.first, .last{
    font-family: 'AudiType-ExtendedBold', sans-serif;
    font-size: 14px!important;
    padding-left: 20px;
}
.first{
    background-image: url('images/menu.svg');
    background-image: url('images/ham-burger.png')\9;
    background-repeat: no-repeat;
    background-position: left center;
}
.first a, .last a {
    color: #000 !important;
    display: block;
}

.last {
    background-image: url('images/icon-prev.svg');
    background-image: url('images/icon-prev-campaigns.png')\9;
    background-repeat: no-repeat;
    background-position: left center;
}

li.last {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

li.first {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.off-canvas-menu a.active{
    color: #000;
}

/*page title*/

.side_navigation {
    margin: 0;
    padding: 0;
}

.main_content {
    padding: 0;
    width: 60%;
    margin: 0 auto;
}

.main_content h2 {
    font-family: 'AudiType-ExtendedBold', sans-serif;
    font-size: 30px;
    margin-bottom: 0.5em;
}

.main_content h3 {
    font-family: 'AudiType-ExtendedBold', sans-serif;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.main_content p {
    font-family: 'AudiType-Normal', sans-serif;
    font-size: 14px;
}

.main_content a {
    color: #000;
    text-decoration: none;
    /*display: block;*/
    padding: 10px 0;
}

.main_content a:hover, .main_content a:active {
    text-decoration: none;
}

.index-wrapper{
    margin-top: 50px;
    max-width: 940px;
    margin: 0 auto;
}

.post-title {
    font-weight: bold;
}

.cat-child {
    padding-left: 0;
    margin-left: 0;
}
.cat-child a {
    display: block;
    text-decoration: none;
    color: #000;
}

.li-cat-child {
    font-family: 'AudiType-Normal', sans-serif;
    font-size: 14px;
    padding-left: 3px;
    list-style-type: none;
    border-bottom:1px solid #c2c2c2;
}
.li-cat-child a:hover {
    background-color: #f2f2f2;
    opacity: 0.5;
    text-decoration: none;
}

.li-cat-child a {
    height: 36px;
    line-height: 35px;
}

.home-title h2 {
    font-family: 'AudiType-ExtendedBold', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.parent-cat {
    border-bottom: 2px solid #000;
    font-family: 'AudiType-ExtendedBold', sans-serif;
    font-size: 14px;
    padding: 15px 0;
}

.parent-cat p {
    margin: 0;
    padding: 0;
}

a.open-panel, a.close-panel {
    display: none;
}

.scrollTop {
    height: 36px;
    width: 128px;
    background-color: #000;
    position:fixed;
    bottom:0;
    right: 0;
    display: table;
    background-image: url('images/top-arrow.jpg');
    background-repeat: no-repeat;
    background-position: 110px 15px;
}

.scrollTop span{
    vertical-align: middle;
    display: table-cell;
    color:#fff;
    font-family: 'AudiType-Normal', sans-serif;
    padding-left: 10px

}

video {
    max-width: 100%;
    vertical-align: middle;
}

table {
    font-family: 'AudiType-Normal', sans-serif;
}

.video-wrap {
    background: #fff;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,.05);
    box-shadow: 0 0 5px 3px rgba(0,0,0,.05);
    margin-bottom: 25px;
    padding-top: 15px;
}

.video-wrap p {
    padding: 5px 10px 20px;
    margin: 0;
}

.content ul {
    margin-bottom: 20px;
}

.content ul li {
    font-family: 'AudiType-Normal', sans-serif;
}

.content a {
    text-decoration: none;
}


/*Audi A3 PI*/

.social-skins {
    text-align: center;
    padding: 10px;
}

.social-skins p {
    display: block;
    padding: 5px;
}






/*STYLES FOR AUDI Q2 CAMPAIGN*/



#q2-launch-magazine .title,
#q2-launch-dealer-elements .title,
#q2-launch-local-stories .title,
#q2-launch-online-banners .title,
#q2-email-signatures .title,
#q2-social-skins .title {
    color: red;
}

.q2-custom-elements {

}

.q2-custom-elements .dealer-elements {
    border: 1px solid #efefef;
    text-align: center;
    margin: 15px 0 15px;
    padding: 10px 0;
}

.q2-custom-elements .dealer-elements h3 {
    font-size: 14px;
    margin: 0 0 15px;
    padding: 0;
}





/*STYLES FOR AUDI Q2 CAMPAIGN*/









@media(max-width:1160px){

    .main_content {
        width: 90%;
    }

    .site-logo img{
        width:30%;
    }

    .off-canvas-menu{
        width: 270px;
        position: fixed;
        left: -32%;
        top:0;
        height: 100%;

    }

    .open-panel span ,
    .close-panel span{
        opacity: 0
    }

    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }
    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(32%, 0, 0);
        -moz-transform: translate3d(32%, 0, 0);
        -ms-transform: translate3d(32%, 0, 0);
        -o-transform: translate3d(32%, 0, 0);
        transform: translate3d(32%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

}

@media(max-width: 1024px){

    .off-canvas-menu{
        width: 32%;
        position: fixed;
        left: -50%;
        top:0;
        height: 100%;

    }
    .content-wrapper{
        padding-left: 20px;
        padding-right: 20px
    }


    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(32%, 0, 0);
        -moz-transform: translate3d(32%, 0, 0);
        -ms-transform: translate3d(32%, 0, 0);
        -o-transform: translate3d(32%, 0, 0);
        transform: translate3d(32%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}

@media(max-width: 980px){

    .site-logo img{
        width:30%;
    }

    .off-canvas-menu{
        width: 28.8%;
        position: fixed;
        left: -32%;
        top:0;
        height: 100%;

    }

    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(32%, 0, 0);
        -moz-transform: translate3d(32%, 0, 0);
        -ms-transform: translate3d(32%, 0, 0);
        -o-transform: translate3d(32%, 0, 0);
        transform: translate3d(32%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}

@media(max-width: 768px){

    .site-logo img{
        width:50%;
    }

    .off-canvas-menu{
        width: 50%;
        position: fixed;
        left: -50%;
        top:0;
        height: 100%;

    }

    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        -moz-transform: translate3d(50%, 0, 0);
        -ms-transform: translate3d(50%, 0, 0);
        -o-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}

@media (max-width:640px){

    .site-logo img{
        width:50%;
    }

    .off-canvas-menu{
        width: 270px;
        position: fixed;
        left: -71%;
        top:0;
        height: 100%;

    }

    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        -moz-transform: translate3d(70%, 0, 0);
        -ms-transform: translate3d(70%, 0, 0);
        -o-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}


@media (max-width: 320px) {

    .site-logo img{
        width:70%;
    }
    .off-canvas-menu{
        width: 270px;
        position: fixed;
        left: -70%;
        top:0;
        height: 100%;

    }

    a.open-panel {
        display: inline;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    a.close-panel{
        display: none;
        position: absolute;
        top:0;
        margin-top: 10px;
        margin-left: 25px
    }

    .close-panel{
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav #page{
        left: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        -moz-transform: translate3d(70%, 0, 0);
        -ms-transform: translate3d(70%, 0, 0);
        -o-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    #page{
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}


/* home page media queries*/

@media(min-width: 320px){
    .index-wrapper{
        padding-left: 15px;
        padding-right: 15px
    }
}

.hidden-email-field {
    display: none;
}
